@charset "UTF-8";
/* ==========================================================================
 * Кнопки
 * ========================================================================== */

.button{
  display: inline-block;
  vertical-align: top;
  border: 0;
  outline: none;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-family: $myriad;
  &:hover{
    text-decoration: none;
  }

  &--normal{
    background: $red;
    color: #fff;
    height: 34px;
    padding: 0px 0 0px 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    &:hover{
      background: lighten($red, 7%);
    }
    &:active{
      background: darken($red, 3%);
    }
  }

  &--grey{
    background: #eee;
    color: #000;
    &:hover{
      background: lighten(#eee, 2%);
    }
    &:active{
      background: darken(#eee, 3%);
    }
  }

  &--s{
    font-size: 12px;
    padding: 3px 8px 3px 8px;
  }

  &--auto-width{
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* ==========================================================================
 * Формы
 * ========================================================================== */

.form{

  @include clearfix;

  &__line{
    position: relative;
    margin-bottom: 16px;
  }


  label.error{
    font-size: 14px;
    position: absolute;
    top: -13px;
    right: 0;
    margin-left: 0;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    border-radius: 5px;
    background: #000;
    background: rgba(0, 0, 0, .7);
  }

  &__button{
    margin-top: 16px;
  }

  &__input,
  &__select,
  &__textarea{
    -webkit-appearance: none;
    padding: 5px 0 5px 20px;
    width: 100%;
    outline: none;
    border: 1px solid #eee;
    background: #eee;
    &.error{
      border-color: red;
    }
    &:focus{
      border-color: #999;
    }
  }
  &__textarea{

  }

  &__select-arrow{
    position: relative;
    height: 30px;
    display: inline-block;
    width: 100%;
  }

  &__select-box{
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 1px solid #fff;
    overflow: hidden;
    height: 28px;
    &:before{
      @include icons(select);
      position: absolute;
      right: 11px;
      top: 50%;
      margin-top: -2px;
    }
    &.error{
      border-color: $red;      
    }
  }
  &__select{
    position: relative;
    background: transparent;
    border: 0;
    width: 110%;
    height: 28px;
    padding-top: 0;
    padding-bottom: 0;
    &.error{
      border: none;
    }
  } 

  &__radio,
  &__checkbox{
    display: inline-block;
    margin-right: 5px;
  }   
}


/* ==========================================================================
 * radio
 * ========================================================================== */

.radio,
.checkbox{
  position: relative;

  &__label{
    cursor: pointer;
  }
  
  &__text{
    display: inline-block;
    position: relative;
    &:before{
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 0px solid #000;
      background: #fff;
      border-radius: 50%;
      vertical-align: middle;
      margin-bottom: 4px;
      margin-right: 10px;
    }
    
  }

  &__input{
    position: absolute;
    left: -9999px;
    &:checked + .radio__text:before,
    &:checked + .checkbox__text:before,
    {
      background: $red;
    }
  }
}

.checkbox{
  
  &__text{
    &:before{
      width: 10px;
      height: 10px;
      border: 2px solid #fff;
      border-radius: 20%;
    }
  }
}

.lte-ie9{

  .radio,
  .checkbox{
    position: relative;

    &__label{
      cursor: pointer;
      span:before{
        display: none;
      }
    }

    &__input{
      position: relative;
      left: 0;
    }
  }

}