@charset "UTF-8";
/* ==========================================================================
 * Кнопки
 * ========================================================================== */

.button{
  display: inline-block;
  border: 0;
  outline: none;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-family: $verdana;

  &--search{
    text-indent: -9999px;
    @include icons(search);
    background-color: transparent;
  }

  &--submit{
    background: $orange;
    background: linear-gradient(to bottom, $yellow 0%, #dae46a 100%);
    color: #000;
    width: auto;
    padding: 10px 40px;
    font-size: 11px;
    border-radius: 3px;
    &:hover{
      background: lighten($orange, 5%);
      background: linear-gradient(to bottom, lighten($yellow, 5%) 0%, lighten(#dae46a, 5%) 100%);
    }
    &:active{
      background: darken($orange, 5%);
      background: linear-gradient(to bottom, darken($yellow, 5%) 0%, darken(#dae46a, 5%) 100%);
    }
  }
}

/* ==========================================================================
 * Формы
 * ========================================================================== */

.form{

  @include clearfix;

  &__line{
    position: relative;
    margin-bottom: 11px;
  }

  &__label{
    margin: 0 0 10px;
    display: block;
  }

  label.error{
    font-size: 10px;
    position: absolute;
    top: -5px;
    right: 0;
    margin-left: 0;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    border-radius: 5px;
    background: #000;
    background: rgba(0, 0, 0, .7);
  }

  &__button{
    margin-top: 22px;
    text-align: center;
  }

  &__input-border{
    border-radius: 3px;
    padding: 1px;
    background: #5d5d5d;
    background: linear-gradient(to bottom, #5d5d5d 0%, #1f1f1f 100%);    
    &.error{
      background: $orange;
    }
    &.focused{
      background: $yellow;
    }
  }

  &__input,
  &__textarea{
    font-family: $verdana;
    display: inline-block;
    -webkit-appearance: none;
    padding: 5px 0 5px 20px;
    width: 100%;
    outline: none;
    border: 0;
    background: #2e2e2e;
    background: linear-gradient(to bottom, #1a1a1b 0%, #2f2f2f 100%);
    border-radius: 3px;
    color: #b5b5b5;
    &.error{
      border-color: red;
    }
  }
  &__textarea{
    height: 90px;
  }
}

