@charset "UTF-8";

// @font-face {
//     font-family: 'font';
//     src: url('fonts/fonr.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

$verdana: Verdana, Geneva, sans-serif;


$yellow: #c6da2d;
$orange: #ee8d1a;