.error{
	border:1px solid red;
}

.modal-title{
	font-size: 36px;
	color: #599806;
}

.form-group{
}

.error_text{
	height:20px;
	margin-bottom:15px;
	text-align:center;
	font-size:16px;
	color:red;
}

.book .book-cover-cart{height:136px;width:90px;position:relative}
.book .book-cover-cart:before{
	background-image:url("../images/page-overlay-cart.png");
	background-repeat:no-repeat;
	content:"";
	height:136px;
	position:absolute;
	width:90px}
	.book .book-cover-cart:after{content:"";display:block;height:10px;margin:-32px auto 5px;width:96px;-webkit-box-shadow:0 24px 8px rgba(0,0,0,0.27);-moz-box-shadow:0 24px 8px rgba(0,0,0,0.27);box-shadow:0 24px 8px rgba(0,0,0,0.27);z-index:-1;opacity:.61}


table{width:100%;margin:0 0 10px 0;text-align:left;border-collapse: collapse;}
	thead, tbody{margin:0;padding:0;}
	th, td{padding:7px 10px;font-size:0.9em;border-bottom:1px dotted #ddd;text-align:left;}
	thead th{font-size:0.9em;padding:3px 10px;border-bottom:1px solid #ddd;}
	tbody tr.last th,
	tbody tr.last td{border-bottom:0;}

/* striped */
table.striped{}
	table.striped tr.alt{background:#f5f5f5;}
	table.striped thead th{background:#fff;}
	table.striped tbody th{background:#f5f5f5;text-align:right;padding-right:15px;border-right:1px dotted #e5e5e5;}
	table.striped tbody tr.alt th{background:#efefef;}

/* tight */
table.tight{}
	table.tight th, .tight td{padding:2px 10px;}

/* sortable */
table.sortable{border:1px solid #ddd;}
	table.sortable thead th{cursor: pointer;position:relative;top:0;left:0;border-right:1px solid #ddd;}
	table.sortable thead th:hover{background:#efefef;}
	table.sortable span.arrow{border-style:solid;border-width:5px;
	display:block;position:absolute;top:50%;right:5px;font-size:0;
	border-color:#ccc transparent transparent transparent;
	line-height:0;height:0;width:0;margin-top:-2px;}
	table.sortable span.arrow.up{border-color:transparent transparent #ccc transparent;margin-top:-7px;}
	
.shopping-cart-block{
	margin-top:10px;
}
	
.header .header-nav .navbar-primary .navbar-nav > li > a {
	font-size: 12px;
	font-weight: bold;
	line-height: 37px;
}

.header .header-nav .navbar-primary .navbar-nav > li{

}

.header .header-nav .navbar-primary .navbar-nav > li > a {
	margin:0 5px;
}
.header .header-nav .navbar-primary .navbar-nav>li>a:before{
	top: 10px;
	margin-left:43px;
	line-height: 32px;
}
.header .main-header {
	padding-top: 20px;
}
.header .search-form {
	padding-top: 10px;
}

.header .main-header .top-search-holder .search-form button {
	padding-top: 20px;
}

.ui-autocomplete {
	width:225px;
	height:300px;
	overflow-y:scroll;
	overflow-x:hidden;
	z-index:1000000000 !important;
}

.sidebar .sidebar-module .sidebar-module-heading .sidebar-module-title a {
  color: #333 !important;
}

.sidebar .sidebar-module .sidebar-module-heading .sidebar-module-title a:hover{
	color: #599806 !important;
}

@media all and (min-width:420px) and (max-width: 1024px) {
	.header .header-nav .navbar-primary .navbar-nav > li > a {
		margin:0!important;
	}
	
	.header .header-nav .navbar-primary .navbar-nav>li>a:before{
		display:none;
	}
	
	#page-search{
		padding-right:40px;
		white-space:nowrap;
		text-overflow: ellipsis;
	}
	
	.top-cart-row{
		padding:0;
	}
	
	.header .main-header .top-cart-row .menu-toggle-right .cart-right-block {
		margin-left: 5px;
	}
}

@media all and (min-width:100px) and (max-width: 786px) {
	.home-slider{
		display:none;
	}
	
	.wide-banners{
		margin-top:20px;
	}
	
	.navbar-left p{
		margin: 4px 0 7px 0;
	}
	
	.navbar-right{
		margin-right:-35px;
		float:right;
	}
	
	.navbar-right li{
		float:left;
		text-align:right;
	}
	
	.top-search-holder{
		margin-bottom:0 !important;
	}
	
	.main-header{
		padding-bottom:0 !important;
	}
}