@charset 'UTF-8';

/* font-family: "RobotoSlabRegular"; */
@font-face {
    font-family: "RobotoSlabRegular";
    src: url("fonts/RobotoSlabRegular/RobotoSlabRegular.eot");
    src: url("fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
    url("fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoSlabLight"; */
@font-face {
    font-family: "RobotoSlabLight";
    src: url("fonts/RobotoSlabLight/RobotoSlabLight.eot");
    src: url("fonts/RobotoSlabLight/RobotoSlabLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoSlabLight/RobotoSlabLight.woff") format("woff"),
    url("fonts/RobotoSlabLight/RobotoSlabLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoSlabBold"; */
@font-face {
    font-family: "RobotoSlabBold";
    src: url("fonts/RobotoSlabBold/RobotoSlabBold.eot");
    src: url("fonts/RobotoSlabBold/RobotoSlabBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoSlabBold/RobotoSlabBold.woff") format("woff"),
    url("fonts/RobotoSlabBold/RobotoSlabBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: 'Myriad Pro';
    font-weight: normal;extra
    font-style: normal;

    src: url('fonts/MyriadPro-Regular.woff') format('woff');
}


.i-sprite,
.form__select-box:before,
.logo,
.load-link__href:before,
.header-cart:before,
.menu-search__button,
.contacts-info-phone--footer .contacts-info-phone__number:before,
.contacts-info-phone__number:before
{
    background-image: url('../images/i-sc4b2583da3.png');
    background-repeat: no-repeat;
}

/* ==========================================================================
 * Кнопки
 * ========================================================================== */
.button{
	display: inline-block;
	
	padding:9px 25px;
	font-size:18px;
	color:#fff;
	background:#ff8c04;

    text-align: center;
    text-decoration: none;

    border: 0;
    outline: none;
}

.button:hover{
    text-decoration: none;
	background:#f84209;
}

/* ==========================================================================
 * Формы
 * ========================================================================== */
.form
{
    *zoom: 1;
}
.form:before,
.form:after
{
    display: table;

    content: ' ';
}
.form:after
{
    clear: both;
}
.form__line
{
    position: relative;

    margin-bottom: 16px;
}
.form label.error
{
    font-size: 14px;

    position: absolute;
    top: -13px;
    right: 0;

    margin-left: 0;
    padding: 5px;

    text-align: center;
    white-space: nowrap;

    color: #fff;
    border-radius: 5px;
    background: #000;
    background: rgba(0, 0, 0, .7);
}
.form__button
{
    margin-top: 16px;
	text-align:left;
}
.form__input,
.form__select,
.form__textarea
{
    width: 100%;
    padding: 5px 0 5px 20px;

    outline: none;
    background: #eee;

    -webkit-appearance: none;
}
.form__input.error,
.form__select.error,
.form__textarea.error
{
    border-color: red;
}
.form__input:focus,
.form__select:focus,
.form__textarea:focus
{
    border-color: #999;
}
.form__select-arrow
{
    position: relative;

    display: inline-block;

    width: 100%;
    height: 30px;
}
.form__select-box
{
    display: inline-block;
    overflow: hidden;

    width: 100%;
    height: 28px;

    border: 1px solid #fff;
    background: #fff;
}
.form__select-box:before
{
    position: absolute;
    top: 50%;
    right: 11px;

    display: inline-block;

    width: 6px;
    height: 3px;
    margin-top: -2px;

    content: '';

    background-position: 0 0;
}
.form__select-box.error
{
    border-color: #5a9dee;
}
.form__select
{
    position: relative;

    width: 110%;
    height: 28px;
    padding-top: 0;
    padding-bottom: 0;

    border: 0;
    background: transparent;
}
.form__select.error
{
    border: none;
}
.form__radio,
.form__checkbox
{
    display: inline-block;

    margin-right: 5px;
}

input.error{
	outline:1px solid red;
}

/* ==========================================================================
 * radio
 * ========================================================================== */
.radio,
.checkbox
{
    position: relative;
}
.radio__label,
.checkbox__label
{
    cursor: pointer;
}
.radio__text,
.checkbox__text
{
    position: relative;

    display: inline-block;
}
.radio__text:before,
.checkbox__text:before
{
    display: inline-block;

    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-bottom: 4px;

    content: '';
    vertical-align: middle;

    border: 0 solid #000;
    border-radius: 50%;
    background: #fff;
}
.radio__input,
.checkbox__input
{
    position: absolute;
    left: -9999px;
}
.radio__input:checked + .radio__text:before,
.radio__input:checked + .checkbox__text:before,
.checkbox__input:checked + .radio__text:before,
.checkbox__input:checked + .checkbox__text:before
{
    background: #5a9dee;
}

.checkbox__text:before
{
    width: 10px;
    height: 10px;

    border: 2px solid #fff;
    border-radius: 20%;
}

.lte-ie9 .radio,
.lte-ie9 .checkbox
{
    position: relative;
}
.lte-ie9 .radio__label,
.lte-ie9 .checkbox__label
{
    cursor: pointer;
}
.lte-ie9 .radio__label span:before,
.lte-ie9 .checkbox__label span:before
{
    display: none;
}
.lte-ie9 .radio__input,
.lte-ie9 .checkbox__input
{
    position: relative;
    left: 0;
}

/* ==========================================================================
 * Оформление
 * ========================================================================== */
html{
    font-family: 'RobotoSlabRegular', sans-serif;

    min-width: 1000px;

    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
       -moz-text-size-adjust: none;
            text-size-adjust: none;
}

a{
    text-decoration: none;

    color: inherit;
}

a:hover{
    text-decoration: underline;
}

.form__input, input[type=password]{
	padding:5px 3px;
	border:none;
	background:#cfddef;
}

.form__textarea{
	border:none;
	background:#cfddef;
}

.clearfix:after{
    display: inline-block;
    width: 100%;
    height: 0;
    content: '';
}

/* ==========================================================================
 *  Browse Happy prompt
 * ========================================================================== */
.browsehappy
{
    margin: 0 0;
    padding: 1em 0;

    text-align: center;

    color: #000;
    background: orange;
}

/* ==========================================================================
 * Wrapper
 * ========================================================================== */
.wrap
{
    width: 1100px;
    margin: auto;
    padding: 0 0;

    *zoom: 1;
}

.wrap:before,
.wrap:after
{
    display: table;

    content: ' ';
}

.wrap:after
{
    clear: both;
}

/* ==========================================================================
 * Основные стили
 * ========================================================================== */

.skew
{
    -webkit-transform: skew(-14deg);
        -ms-transform: skew(-14deg);
            transform: skew(-14deg);
}

.inline-categories
{
    overflow: hidden;
}
.inline-categories__list
{
    display: table;

    width: 110%;
    margin: 0 -5%;
    padding: 0;

    table-layout: fixed;
    list-style: none;
}
.inline-categories__item
{
    display: table-cell;
}
.inline-categories__href
{
    font-size: 18px;
    font-weight: 600;
    line-height: 1;

    display: block;

    padding: 9px 0 9px 0;

    text-align: center;
    text-align: center;
    text-transform: uppercase;

    color: #000;
    background: #eee;
}
.inline-categories__href.active,
.inline-categories__href:hover
{
    text-decoration: none;

    color: #fff;
    background: #5a9dee;
}

.gallery
{
    margin: 0 -5px 0 -18px;
}
.gallery__href
{
    display: inline-block;
    overflow: hidden;

    width: 225px;
    height: 225px;
    margin: 0 0 15px 17px;

    vertical-align: top;
}
.gallery__image
{
    vertical-align: top;
}

.load-link
{
    text-align: center;
}
.load-link__href
{
    font-size: 18px;
}
.load-link__href:before
{
    display: inline-block;
    display: block;

    width: 43px;
    height: 36px;
    margin: 0 auto 5px;

    content: '';

    background-position: -91px 0;
}
.load-link__href.rotate:before
{
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
}

@-webkit-keyframes spin
{
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spin
{
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}


/* ==========================================================================
 * menu
 * ========================================================================== */
.menu{
	position:relative;
    margin: 0;
	height:42px;
    color: #fff;
    background: #5a9dee;
}

.menu__wrap{
   padding: 7px 0 0 0px;
   height:35px;
}

.menu_lang{
	float: left;
	width:66px;
	height: 29px;
	margin: 0 20px 0 0;
}

.menu_lang .rus{
	display:block;
	margin-top:-4px;
	float:left;
	width:33px;
	height:33px;
	background: url(../images/rus.png) no-repeat;
}

.menu_lang .eng{
	display:block;
	margin-top:-4px;
	float:left;
	width:33px;
	height:33px;
	background: url(../images/eng.png) no-repeat;
}

.menu_lang a:hover{
	text-decoration:none;
}

.menu__nav{
	position:relative;
    float: left;
    width: -moz-calc(100% - 366px);
    width: -webkit-calc(100% - 366px);
    width: calc(100% - 366px);
}

.menu_main{
	position:relative;
	float: left;
	height: 42px;
    margin:-7px 50px 0 0;
	padding:10px 10px 0 70px;
	background: url(../images/main.png) no-repeat #42638C;
	
	font-size: 16px;

    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
	
	text-align: left;
    vertical-align: top;
}

.menu-nav{
    height: 32px;
    margin: 3px 0 0 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.menu-nav.main{
	text-align: justify;
}

.menu-nav:after{
    display: inline-block;
    width: 100%;
    height: 0;
    content: '';
}

.menu-nav__item{
    position: relative;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.menu-nav.shop .menu-nav__item{
	margin:0 15px;
}

.menu-nav__item:hover {
	color:#000;
}

.menu-nav__href{
    font-size: 16px;
    display: inline-block;
    height: 29px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-nav__href:hover{
    text-decoration: none;
}

.menu-nav__href.active{
    color: #000;
}

.menu-enter{
	height:42px;
	width:260px;
	float:right;
	padding:0 0 0 10px;
	margin:-7px 0px 0px 8px;
	background:#42638b;
	color#a294c0;
}

.menu-enter a{
	display: inline-block;
    padding: 10px 6px;
	border-right:1pxx solid #a294c0;
    white-space: nowrap;
}

.menu-enter .enter-cart{
	position:relative;
	display:inline-block;
	margin:3px 0 0 8px;
	width:49px;
	height:32px;
	background: url(../images/cart.png) no-repeat center #45678D;
}

.menu-enter .enter-cart:hover{
	text-decoration:none;
}

.menu-enter .user_name{
	width:150px;
	text-align:center;
}

.enter-cart .total-qty{
	/*position:absolute;*/
	display:block;
	width:18px;
	height:20px;
	margin-top:-5px;
	color:#FDED00;
	font-size:14px;
	text-align:center;
}

.menu-enter .avatar{

}

.menu-enter .logout{
	display:block;
	float:right;
	width:14px;
	height:14px;
	margin:12px 12px 0 0;
	background: url(../images/logout.png) no-repeat center;
}

/* ==========================================================================
 * header
 * ========================================================================== */
.header{
	position:relative;
	margin:0;
} 
 
.header__wrap{
    position: relative;
    height: 90px;
    padding: 30px 0 0 343px;
}

.shop .header__wrap{
	height: 110px;
}

.header__logo{
    position: absolute;
    z-index: 100;
    top: 25px;
    left: 0;
}

.logo{
    display: inline-block;
	background: url('../images/logo.png') top;
    width: 343px;
	height:40px;
    content: '';
    text-indent: -9999px;
}

.shop .logo{
	background: url('../images/shop_logo.png') top;
	height:64px;
}

.header__phone{
    float: left;
    margin: 0 25px 0 80px;
}

.shop .header__phone{
	margin: 10px 25px 0 80px;
}

.header-phone__number{
	margin-top:0px;
    font-size: 28px;
    line-height: 1;
}

.header__callback{
    float: left;
    margin: 0;
}

.shop .header__callback{
    margin-top: 10px;
}

.header-phone__callback{
    text-align: center;
}

.header-phone__callback-link{
	display:block;
	margin:0 0 0 60px;
	padding:4px 45px 4px 15px;
	width:220px;
    font-size: 15px;
    text-decoration: none;
	background: url('../images/callback.png') no-repeat 100%;
    color: #42638C;
    border:1px solid;
}

.header-phone__callback-link:hover{
    text-decoration: none;
}

.header__social{
    float: right;
    margin: 0;
}

.shop .header__social{
	margin-top:10px;
}

.header__social .twiter{
	display:inline-block;
	width:37px;
	height:32px;
	background: url('../images/twiter.png');
}

.header__social .facebook{
	display:inline-block;
	width:37px;
	height:32px;
	background: url('../images/facebook.png');
}

.header__social .vk{
	display:inline-block;
	width:37px;
	height:32px;
	background: url('../images/vk.png');
}

/* ==========================================================================
 * main-catalog-nav
 * ========================================================================== */
.main-catalog-nav{
	position:relative;
	height:66px;
    margin: 0 0 10px 0;
}
.main-catalog-nav__wrap
{
    padding: 0 0 0 0;
}


.main-catalog-nav-search{
	float:left;
	width:717px;
	height:66px;
	margin:0 10px 0 0;
	background: url(../images/search.png);
}

.menu-search__input{
    font-size: 14px;
    width: 736px;
	margin:17px 0 0 17px;
    padding: 8px 0 8px 10px;
	color:#000;
    border: 0;
    background: #fff;
}

.search__button{
	position:absolute;
    display: inline-block;
	top:18px;
	right:20px;
    width: 30px;
    height: 30px;
}

.search__button:hover{
	text-decoration:none;
}

.main-catalog-nav-search .menu-search__input{
	width:630px;
}

.main-catalog-nav-button{
	float:left;
	width:259px;
    margin: 0;
}

.main-catalog-nav-button .catalog-button{
	display:inline-block;
	width: 374px;
	height:66px;
	padding:20px 10px 15px 110px;
	background: url(../images/catalog.png);
	font-size:20px;
	color:#fff;
	text-transform:uppercase;
}

/**
* news
*/

#slideshow{ 
	position:relative;
	float:left;
	margin:0 10px 0 0;
	width:717px;
	height:360px;
	background: #3e3e3e;  	
	overflow:hidden;
	font-family: RobotoSlabRegular; 
	font-size:1em;
}

.slideshow{
	clear:both;
	margin:0;
	padding:0;
	width:auto;
	height:auto;
	overflow:hidden;
}

.slideshow li{
	list-style-type:none;
	margin:0;
	padding:0;
	float:left;
	display:block;
}

.tmpSlide{
	position:absolute;
	top:0;
	left:0;
	width:717px;
	height:360px;
	display:none;
}
  
.tmpSlide img{
	float:left;
	width:717px;
	margin:0;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position:relative;
	right:10px;
	top:-350px;
	float:right;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	color:#fff; 
	cursor:pointer; 
	margin:4px;
	padding:2px;
	width:10px;
	height:10px;	
	float:left;
	background: #17aad6;
	font-size:0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #fec712; 
}

/**
* Tabs
*/
/*Вкладки на главной странице*/   
.newsblock{
	width: 373px; 
	margin:6px 0 0 0;
	padding:0;
	float:left;
}
 		 	 
.newsblock ul.tabs {
	padding: 0;
	margin:0;
	list-style-type: none;
	text-align: left; 
}
        
.newsblock ul.tabs li{
	display: inline;
	width:380px;
	margin: 0;
}

.newsblock ul.tabs li.last{
	margin:0;
}
        
.newsblock ul.tabs li a {
	position: relative;
	background:#3a9dda;
	font: normal 20px RobotoSlabRegular;
	text-decoration: none;
	color:#fff;
	border-bottom:3px solid #fff; 
	outline:none;
}

.newsblock ul.tabs li a.first{
	padding: 6px 48px 6px 48px;
}

.newsblock ul.tabs li a.second{
	padding: 6px 47px 6px 47px;
}

        
.newsblock ul.tabs li.active a, 
ul.tabs li.active a:hover{
	background: #dadadc;
}

.newsblock ul.tabs li.active a{
	color:#000;
	border-bottom:3px solid #dadadc;
}

.newsblock div.tabcontents {
	margin-top:8px;
	padding: 2px 0 0 0;
	background-color:#f0f0f2;
	font-family:RobotoSlabRegular, sans-serif;
	font-size:13px;
	text-align:left;
}
  
.newsblock div.tabcontents li{
	margin-left:20px;
}
			   
.tabcontents h2 {
	margin:0 0 10px 0;
	font: bold 14px Verdana;
	color:#fb9857;
}
  
.tabcontents .tab-item{
	padding:10px 30px;
	
	height:92px;
	overflow:hidden;
}

.tabcontents .tab-item.deep-grey{
	background: #dadadc;
}

.tab-item .item_date{
	margin-bottom:3px;
	font-size:18px;
	color:#64a3ef;
}

.tab-item .item_text{
	font-size:14px;
	
	height:36px;
	overflow:hidden;
}

.tab-link{
	padding:11px 20px 11px 30px;
	text-align:right;
	font-size:14px;
	background: #dadadc;
}

/**
* main categories
*/
.main-categories-nav{
	position:relative;
	margin:10px 0;
}

.main-category-item{
	position:relative;
	float:left;
	width:271px;
	height:160px;
	margin-right:5px;
	padding:25px 20px 15px 20px;
	text-align:center;
}

.main-category-item.last{
	margin:0;
}

.main-category-item.blue{
	background:#0f66d1;
}

.main-category-item.deep-blue{
	background:#52378a;
}

.main-category-item.green{
	background:#39b54a;
}

.main-category-item.red{
	background:#e3343c;
}

.main-category-item .category-icon{
	margin-bottom:10px;
}

.main-category-item .category-title{
	display:table-cell;
	height:50px;
	text-transform:uppercase;
	vertical-align:middle;
	color:#fff;
	font-weight:normal;
	
}

/* ==========================================================================
 * text-about
 * ========================================================================== */
.text-about{
    position: relative;

    margin: 0;
    padding: 20px 0 30px;

    color: #313131;
}

.text-about:before{
    position: absolute;
    right: 0;
    left: 0;

    display: block;

    height: 40px;

    content: '';
}

.text-about--main{
    margin: 0 0 20px 0;
    padding: 30px 0 20px;
}

.text-about__title{
    font-size: 28px;
	font-style :normal;
    margin: 0 0 15px 0;
}

.text-about__text{
	font-size:14px;
    line-height: 1.2;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
}

.text-about__text p{
    margin-bottom: 1em;
}

/* ==========================================================================
 * footer
 * ========================================================================== */
 
.footer-top{
	position:relative;
	width:100%;
	height:7px;
	background-image: url('../images/footer-top.png');
}

.footer{
    position: relative;
    padding:40px 80px;
	font-family: tahoma;
    color: #fff;
    background: #42638C;
}

.footer-middle{
	background:#FEC712;
}

.footer__contacts{
    padding: 15px 0 0;
}

/* ==========================================================================
 * contacts-info
 * ========================================================================== */
.contacts-info{
	font-family:tahoma;
}

.contacts-info:after{
    display: inline-block;

    width: 100%;
    height: 0;

    content: '';
}

.contacts-info__item{
    display: inline-block;
    vertical-align: top;
	font-size:14px;
}

.contacts-info__item._1{
	width:310px;
	margin-right:20px;
}

.contacts-info__item._2{
	width:230px;
	margin-right:20px;
}

.contacts-info__item._3{
	width:290px;
	margin-right:20px;
}

.contacts-info__item._4{
	width:180px;
	margin:0;
}

.contacts-info__copy{
    font-size: 16px;
    line-height: 1;
}

.contacts-info__email{
    line-height: 1;

    text-decoration: none;
}

.contacts-info__email:before{
    font-size: 30px;

    margin: 0 10px 0 0;

    content: '@';
}

.footer-mail{
	height:40px;
	padding:0 0 0 45px;
	font-size:16px;
	background: url('../images/mail.png') no-repeat top left;
}

.footer-address{
	height:40px;
	padding:0 0 0 40px;
	font-size:16px;
	background: url('../images/address.png') no-repeat top left;
}

.footer-phone{
	height:40px;
	font-size:18px;
	padding:0 0 0 45px;
	font-size:16px;
	background: url('../images/phone.png') no-repeat top left;
}

.footer-title{
	text-transform:uppercase;
	color:#F6EB00;
	font-size:15px;
	text-align:left;
}


/* ==========================================================================
 * left-side
 * ========================================================================== */
.left_side{
	position:relative;
	float:left;
	width:230px;
	margin-right:26px;
}

.shop-catalog-nav-button{
	position:relative;
	float:left;
	width:230px;
	height:66px;
    margin:0 0 20px 0;
}

.shop-catalog-nav-button .catalog-button:hover{
	text-decoration:none;
}

.shop-catalog-nav-button .catalog-button{
	display:inline-block;
	width:230px;
	height:66px;
	padding:20px 10px 15px 30px;
	font-size:20px;
	color:#fff;
	text-transform:uppercase;
	background: url(../images/shop-catalog.png);
}

.shop-catlog-filters{
	position:relative;
	float:left;
	width:230px;
	border:1px solid #cfddef;
	margin-bottom:20px;
}

.catlog-filters-title{
	padding:10px 0;
	background:#cfddef;
	text-align:center;
}

.catalog-filter-item{
	padding:10px 20px;
	border-bottom:1px solid #cfddef;
	font-size:14px;
}

.catalog-filter-item .filter-name{
	margin-bottom:10px;

	font-weight:bold;
}

.filter-ch label{
}

.filter-range{
	width:65px;
	text-align:right;
}

aside .title{
	font-size:24px;
	margin-bottom:10px;
	text-align:center;
}

.shop-catalog-news{
	margin-bottom:20px;
}

.shop-catalog-news .news-item{
	margin-bottom:20px;
}

.shop-catalog-news .news-item a{
	text-decoration:none;
}

.shop-catalog-news .news-item .date{
	margin-bottom:3px;
	font-size:14px;
	color:#64a3ef;
	font-weight:bold;
}

.shop-catalog-news .news-item .text{
	font-size:14px;
}

.shop-catalog-news .news-link{
	padding:10px 0;
	text-align:center;
	background:#fec612;
	font-size:14px;
}

.shop-catalog-events{
	margin-bottom:20px;
}

.shop-catalog-events .event-link{
	padding:10px 0;
	text-align:center;
	background:#cfddef;
	font-size:14px;
}

/* ==========================================================================
 * catalog
 * ========================================================================== */
.catalog{
	position:relative;
	float:left;
	width:844px;
}

.shop-catalog-nav-search{
	position:relative;
	float:left;
	width:844px;
	height:66px;
	margin:0 0 20px 0;
	background: url(../images/shop-search.png);
}

.shop-search__input{
    font-size: 14px;

    width: 736px;
	margin:17px 0 0 17px;
    padding: 8px 0 8px 10px;

    border: 0;
    background: #fff;
}

.shop-search__button{
	position:absolute;
    display: inline-block;
	top:18px;
	right:20px;
    width: 30px;
    height: 30px;
}

.shop-search__button:hover{
	text-decoration:none;
}

#shop-slideshow{ 
	position:relative;
	float:left;
	margin:0 10px 0 0;
	width:844px;
	height:360px;
	background: #3e3e3e;  	
	overflow:hidden;
	font-family: RobotoSlabRegular; 
	font-size:1em;
}

#shop-slideshow .slideshow{
	clear:both;
	margin:0;
	padding:0;
	width:auto;
	height:auto;
	overflow:hidden;
}

#shop-slideshow .slideshow li{
	list-style-type:none;
	margin:0;
	padding:0;
	float:left;
	display:block;
}

#shop-slideshow .tmpSlide{
	position:absolute;
	top:0;
	left:0;
	width:844px;
	height:360px;
	display:none;
}
  
#shop-slideshow .tmpSlide img{
	float:left;
	width:844px;
	margin:0;
}

.catalog__list{
	position:relative;
	float:left;
	width:844px;
    margin: 0;
    padding: 0 0 12px 0;
    list-style: none;
}

.catalog__subtitle{
    font-size: 23px;
    font-style: normal;
	font-weight:normal;
    margin: 10px 0;
}

.catalog__list--border-bottom{
    position: relative;
}

.catalog__list--border-bottom:before{
    position: absolute;
    right: 17px;
    bottom: 0;
    left: 17px;

    height: 1px;

    content: '';

    background: #dfdfdf;
}

.catalog__item{
    display: inline-block;

    width: 105px;
    margin: 0 0 10px 17px;

    text-align: left;
    vertical-align: top;
}


.catalog-item__image-box{
    overflow: hidden;
    width:100%;
    margin-bottom: 15px;
	text-align:center;
}

.catalog-item__image{
	width: 82px;
    vertical-align:bottom;
}

.catalog-item__name{
    font-size: 20px;

    display: block;

    margin: 0 0 10px 0;

    text-decoration: none;
}

.catalog-item__price{
	position:absolute;
    font-size: 18px;
	width:96px;
	height:32px;
	left:50%;
	/*top:100%;*/
	margin-left:-49px;
	bottom:-16px;
	padding:4px 0 0 0;
	font-weight:normal;
    display: inline-block;
	background: url('../images/price.png') no-repeat center; 
	color:#fff;
    vertical-align: top;
}

.catalog-item__button{
    display: inline-block;

    width: 105px;

    vertical-align: top;
}

.catalog-slider {
	width:834px;
	position: relative;
	margin: 0 0 10px 0;
	float:left;
	background:transperent;
	z-index:50;
}

.main-catalog .catalog-slider, .product__catalog .catalog-slider{
	width:834px;
}

.slide-list {
	position: relative;
	width:834px;
	left:10px;
	margin:10px 0 0 0;
	padding:2px 2px 16px 4px;
	overflow:hidden;
}

.main-catalog .slide-list, .product__catalog .slide-list{
	width:834px;
}
  
.slide-wrap-1,  .slide-wrap-2{
	position: relative;
	left:0;
	top: 0;
	width: 10000000000000px;
}
 
.slide-item-1, .slide-item-2{
	position:relative;
	width: 153px;
	height:230px;
	margin:0 15px 0 0;
	padding:0;
	text-align:center;
	float:left;
	
	
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.catalog-item-top{
	height:80px;
}

.catalog-slider .navy {
	position:absolute;
	width: 28px;
	height: 67px;
	top:50%;
	margin-top:-34px;
	cursor:pointer;
	color:#999;
}
 
.main-catalog .prev-slide-1, .main-catalog .prev-slide-2{
	margin-left:0px;
	padding:0 0 0 20px; 
	background: url('../images/prev.png') no-repeat #5a9def center; 
	z-index:100;
}

.main-catalog .next-slide-1, .main-catalog .next-slide-2{
	margin-left:826px;

	padding:0 20px 0 0; 
	background: url('../images/next.png') no-repeat #5a9def 60% center; 
	z-index:3000;
}
 
.catalog-slider .navy.disable {
	background: #dbdbdb;
}

.catalog-item__autor
{
	font-size:14px;
	color:#569FEC;
}

.catalog-item__name
{
	font-size:14px;
}

/**
* acatalog books
*/

.catalog_books{
	position:relative;
	float:left;
	width:844px;
	margin-top:0px;
}

.books_list {
	position: relative;
	width:844px;
	margin:20px 0 0 0;
	padding:0;
}

.books-item{
    position:relative;
	width: 156px;
	height:230px;
	margin:0 16px 30px 0;
	padding:0;
	text-align:center;
	float:left;
	
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.books-item.last{
	margin:0;
}


.books-item__image-box{
    overflow: hidden;
    width:100%;
    margin-bottom: 15px;
	text-align:center;
}

.books-item__image{
	width: 82px;
    vertical-align:bottom;
}

.books-item__name{
    font-size:14px;
    display: block;
    margin: 0 0 10px 0;
    text-decoration: none;
}

.books-item__autor{
	font-size:14px;
	color:#569FEC;
}

.books-item__price{
	position:absolute;
    font-size: 18px;
	width:96px;
	height:32px;
	left:50%;
	margin-left:-49px;
	bottom:-16px;
	padding:4px 0 0 0;
	font-weight:normal;
    display: inline-block;
	background: url('../images/price.png') no-repeat center; 
	color:#fff;
    vertical-align: top;
}


/* ==========================================================================
 * breadcrumbs
 * ========================================================================== */
.breadcrumbs{
	position:relative;
	float:left;
	width:100%;
	margin:0 0 10px 0;
} 
 
.breadcrumbs__list{
    margin: 0;
    margin: 0;
    padding: 0;

    list-style: none;

    *zoom: 1;
}
.breadcrumbs__list:before,
.breadcrumbs__list:after{
    display: table;
    content: ' ';
}

.breadcrumbs__list:after{
    clear: both;
}

.breadcrumbs__item{
    font-size: 12px;
    display: inline-block;
    color:#42638b;
}

.breadcrumbs__item.last{
	color:#333;
}

.breadcrumbs__item a{
	text-decoration:underline;
}

.breadcrumbs__item:before{
    margin: 0 5px;
    content: '>';
}

.breadcrumbs__item:first-child:before{
    display: none;
}

/**
* book
*/
.catalog_book{
	position:relative;
	float:left;
	width:844px;
	margin-bottom:20px;
}

.book_title{
	position:relative;
	float:left;
	width:100%;
	font-family: 'Myriad Pro';
	font-size:24px;
	margin-bottom:20px;
	color:#313131;
}

.book_content{
	position:relative;
	float:left;
	width:100%;
	padding-bottom:20px;
	border-bottom:1px solid #cfddef;
}

.book_cover{
	position:relative;
	float:left;
	width:180px;
	margin-right:30px;
}

.book_cover img{
	width:180px;
}

.book_info{
	position:relative;
	float:left;
	width: -moz-calc(100% - 210px);
    width: -webkit-calc(100% - 210px);
    width: calc(100% - 210px);
	color:#313131;
}

.book_autor{
	position:relative;
	float:left;
	width:100%;
	margin-bottom:15px;
	padding-bottom:5px;
	font-size:18px;
	border-bottom:1px solid #cfddef;
}

.in_stock{
	position:relative;
	clear:both;
	height:22px;
	padding:1px 0 0 27px;
	background: url("../images/in_stock.png") no-repeat left;
	font-size:14px;
}

.info_title{
	position:relative;
	float:left;
	width:130px;
	text-align:left;
	font-size:14px;
	color:#888888;
}

.info_value{
	position:relative;
	float:left;
	width: -moz-calc(100% - 130px);
    width: -webkit-calc(100% - 130px);
    width: calc(100% - 130px);
	text-align:left;
	font-size:14px;
}

.buy_info{
	position:relative;
	float:left;
	width: -moz-calc(100% - 210px);
    width: -webkit-calc(100% - 210px);
    width: calc(100% - 210px);
	margin-top:20px;
}

.book_content .price{
	position:relative;
	float:left;
	width:130px;
	font-weight:bold;
	font-size:24px;
}

.book_content .to_cart{
	position:relative;
	float:left;
	width: -moz-calc(100% - 210px);
    width: -webkit-calc(100% - 210px);
    width: calc(100% - 210px);
}

.book_content .to_cart_button{
	position:relative;
	float:left;
	width: 200px;
	height:45px;
	padding:9px 0 0 85px;
	font-size:18px;
	color:#fff;
	background: url("../images/to_cart.png") no-repeat left #ff8c04;
}

.book_description{
	position:relative;
	float:left;
	width:100%;
	font-family: 'Myriad Pro';
	font-size:14px;
	color:#313131;
	padding-top:20px;
	padding-bottom:40px;
	border-bottom:1px solid #cfddef;
}

/**
* anchor books
*/

.anchor_list {
	position: relative;
	width:844px;
	margin:10px 0 0 0;
	padding:0;
}

.anchor-item{
    position:relative;
	width: 156px;
	height:230px;
	margin:0 16px 0 0;
	padding:0;
	text-align:center;
	float:left;
	
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.anchor-item.last{
	margin:0;
}


.anchor-item__image-box{
    overflow: hidden;
    width:100%;
    margin-bottom: 15px;
	text-align:center;
}

.anchor-item__image{
	width: 82px;
    vertical-align:bottom;
}

.anchor-item__name{
    font-size:14px;
    display: block;
    margin: 0 0 10px 0;
    text-decoration: none;
}

.anchor-item__autor
{
	font-size:14px;
	color:#569FEC;
}

.anchor-item__price{
	position:absolute;
    font-size: 18px;
	width:96px;
	height:32px;
	left:50%;
	/*top:100%;*/
	margin-left:-49px;
	bottom:-16px;
	padding:4px 0 0 0;
	font-weight:normal;
    display: inline-block;
	background: url('../images/price.png') no-repeat center; 
	color:#fff;
    vertical-align: top;
}

/* ==========================================================================
 * modal
 * ========================================================================== */
.modal
{
    display: none;

    padding: 30px;

    text-align: center;
}
.modal--to-cart
{
    max-width: 470px;
}
.modal__title
{
    font-size: 24px;

    margin-bottom: 15px;
}

.modal-cart__label
{
    display: inline-block;

    margin: 0 10px 0;
}
.modal-cart__input
{
    width: 30px;
    padding-left: 0;

    text-align: center;
}

.fancybox-skin
{
    border-radius: 0;
}

/* ==========================================================================
 * page
 * ========================================================================== */
.page
{
    padding: 0 0 50px 0;
}
.page__title
{
    font-size: 23px;
    font-style: italic;

    text-transform: uppercase;
}
.page__nav
{
    margin: 0 0 0 0;
}
.page__content
{
    margin: 0 0 30px;
}

.page-nav
{
    font-size: 16px;

    margin: 0 0 0 0;
    padding: 0 0 0 0;

    list-style: none;

    text-align: justify;
    text-transform: uppercase;
}
.page-nav:after
{
    display: inline-block;

    width: 100%;
    height: 0;

    content: '';
}
.page-nav__item
{
    display: inline-block;

    vertical-align: top;
}
.page-nav__href.active
{
    color: #5a9dee;
}

.page-form
{
    text-align: justify;
}
.page-form:after
{
    display: inline-block;

    width: 100%;
    height: 0;

    content: '';
}
.page-form__block
{
    display: inline-block;

    width: 48%;

    vertical-align: top;
}
.page-form__textarea
{
    height: 122px;
}
.page-form__button
{
    display: inline-block;

    width: 100%;
}

/* ==========================================================================
 * page-about
 * ========================================================================== */
.page-about .page__content h3
{
    display: inline-block;

    padding: 2px 30px;
    color: #fff;
    background: #5a9dee;
}

/* ==========================================================================
 * page-contacts
 * ========================================================================== */
.page-contacts__info
{
    margin: 0 0 20px;
}

/* ==========================================================================
 * page-dealers
 * ========================================================================== */
.page-dealers__map, .page-services__map
{
    position: relative;

    width: 100%;
    height: 600px;
}

/* ==========================================================================
 * page-cart
 * ========================================================================== */
.page-cart__products
{
    margin: 0 0 30px;
}
.page-cart__table
{
    margin: 0 0 20px;
}
.page-cart__order
{
    width: 440px;
    margin: 0 auto 40px;
    padding: 0 20px;
}

.cart-table
{
    width: 100%;
}
.cart-table tr
{
    border-top: 1px solid #eee;
}
.cart-table tr:first-child
{
    border: none;
}
.cart-table th
{
    padding: 15px;
}
.cart-table th:last-child
{
    width: 130px;
}
.cart-table td
{
    padding: 15px;
}
.cart-table__price
{
    text-align: center;
}
.cart-table__price span
{
    font-size: 20px;
    font-weight: 600;
}

.cart-amount{
    text-align: center;
}

.cart-amount__button{
	position:relative;
    width: 30px;
	height:33px;
	margin:0;
    padding: 2px;
}

.cart-amount__input{
	position:relative;
	display:inline-block;
    width: 40px;
	height:33px;
	margin:0;
    padding: 7px 0 7px;
    text-align: center;
}

.cart-order__extra-link{
    display: inline-block;

    margin: 0 0 10px 0;

    color: #333;
    border-bottom: 1px dotted;
	text-align:center;
}
.cart-order__extra-link:hover
{
    margin: 0 0 11px 0;

    text-decoration: none;

    border: none;
}
.cart-order__extra
{
    position: relative;

    margin: 0 -20px -16px;
    padding: 0 20px 16px;
}
.cart-order__button
{
    text-align: center;
}

/* ==========================================================================
 * promo
 * ========================================================================== */
.promo
{
    position: relative;

    overflow: hidden;

    height: 352px;
    margin: -50px 0 40px;
}
.promo:after
{
    position: absolute;
    z-index: 50;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    height: 40px;

    content: '';

    background: url(../images/bg/white.png) 50% 0 no-repeat;
    background-size: cover;
}
.promo__slider
{
    margin: 0;
    padding: 0;

    list-style: none;

    *zoom: 1;
}
.promo__slider:before,
.promo__slider:after
{
    display: table;

    content: ' ';
}
.promo__slider:after
{
    clear: both;
}
.promo__slide
{
    position: relative;
}
.promo__image-box
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
}
.promo__image
{
    height: 100%;

    vertical-align: top;
}
.promo__wrap
{
    font-style: italic;

    position: relative;

    height: 352px;
    padding: 70px 0 0 490px;

    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.promo__wrap a:hover
{
    text-decoration: none;
}
.promo__title
{
    font-size: 45px;
    font-weight: 700;
    line-height: 1;

    display: block;

    margin: 0 0 30px;

    text-decoration: none;
    text-transform: uppercase;
}
.promo__desc
{
    font-weight: 700;

    display: block;

    text-decoration: none;
    text-transform: uppercase;
}
.promo .bx-wrapper
{
    position: relative;
}
.promo .bx-pager
{
    position: absolute;
    right: 0;
    bottom: 40px;
    left: 0;

    text-align: center;
}
.promo .bx-pager-item
{
    display: inline-block;

    margin: 0 5px;
}
.promo .bx-pager-link
{
    display: inline-block;

    width: 12px;
    height: 12px;

    text-indent: -9999px;

    border-radius: 50%;
    background: #fff;
}
.promo .bx-pager-link:hover,
.promo .bx-pager-link.active
{
    background: #5a9dee;
}

/* ==========================================================================
 * main-videos
 * ========================================================================== */
.main-videos
{
    position: relative;

    padding: 60px 0 10px;

    background: #e0e0e0;
}
.main-videos:before
{
    position: absolute;
    top: -40px;
    right: 0;
    left: 0;

    display: block;

    height: 40px;

    content: '';

    background: url(../images/bg/grey.png) 50% 0 no-repeat;
}
.main-videos__list
{
    text-align: justify;
}
.main-videos__list:after
{
    display: inline-block;

    width: 100%;
    height: 0;

    content: '';
}
.main-videos__item
{
    display: inline-block;

    margin: 0 0 30px 0;

    vertical-align: top;
}

/* ==========================================================================
 * page-news
 * ========================================================================== */
.page-news__categories
{
    margin: 0 0 30px;
}
.page-news__calendar
{
    display: inline-block;

    width: 259px;
    margin: 0 25px 20px 0;

    vertical-align: top;
}
.page-news__content
{
    display: inline-block;

    width: 810px;
    margin: 0 0 20px 0;

    vertical-align: top;
}

/* ==========================================================================
 * news-item
 * ========================================================================== */
.news-item
{
    margin: 0 0 30px;
}
.news-item__date
{
    font-size: 24px;
    font-weight: 600;
    line-height: 1;

    margin: 0 0 5px;

    color: #5a9dee;
}
.news-item__title
{
    font-size: 24px;

    margin: 0 0 20px;
}

/* ==========================================================================
 * last-news
 * ========================================================================== */
.last-news__title
{
    font-size: 23px;
    font-style: italic;

    margin: 0 0 30px;

    text-transform: uppercase;
}
.last-news__list
{
    margin: 0 0 30px 0;
    padding: 0 0 20px 0;

    list-style: none;

    text-align: justify;
}
.last-news__list:after
{
    display: inline-block;

    width: 100%;
    height: 0;

    content: '';
}
.last-news__item
{
    display: inline-block;

    width: 225px;

    text-align: left;
    vertical-align: top;
}
.last-news__date
{
    font-size: 18px;
    font-weight: 600;
    font-style: italic;

    margin: 0 0 10px;

    color: #5a9dee;
}
.last-news__name
{
    font-size: 18px;
    font-weight: 600;

    display: block;

    margin: 0 0 12px;
}
.last-news__desc
{
    line-height: 1.1;
}


/* ==========================================================================
 * product
 * ========================================================================== */
.page-product__top
{
    margin: 0 0 37px;

    text-align: justify;
}
.page-product__top:after
{
    display: inline-block;

    width: 100%;
    height: 0;

    content: '';
}
.page-product__images
{
    display: inline-block;

    width: 600px;

    vertical-align: top;
}
.page-product__main-info
{
    display: inline-block;

    width: 345px;
    padding: 0 0 0;

    text-align: left;
    vertical-align: top;
}
.page-product__extra-info
{
    margin: 0 0 45px;
}

/* ==========================================================================
 * product-images
 * ========================================================================== */
.product-images__big-image-box
{
    display: inline-block;

    width: 470px;
    margin: 0 15px 0 0;

    vertical-align: top;
}
.product-images__href
{
    display: block;
    overflow: hidden;

    max-width: 470px;
}
.product-images__image
{
    max-width: 100%;
    height: auto;

    vertical-align: top;
}
.product-images__thumbs
{
    display: inline-block;
    overflow: hidden;

    width: 100px;

    vertical-align: top;
}
.product-images .bx-wrapper
{
    position: relative;
}
.product-images .bx-viewport
{
    height: 470px !important;
}
.product-images .bx-prev,
.product-images .bx-next
{
    position: absolute;
    right: 0;
    left: 0;

    height: 30px;

    text-indent: -9999px;

    background: rgba(255, 255, 255, .5);
}
.product-images .bx-prev:before,
.product-images .bx-next:before
{
    position: absolute;
    top: 5px;
    left: 25px;

    display: block;

    width: 0;
    height: 0;

    content: '';

    opacity: .8;
    border-style: solid;
}
.product-images .bx-prev
{
    top: 0;
}
.product-images .bx-prev:before
{
    border-width: 0 25px 20px 25px;
    border-color: transparent transparent #fff transparent;
}
.product-images .bx-next
{
    bottom: 0;
}
.product-images .bx-next:before
{
    border-width: 20px 25px 0 25px;
    border-color: #fff transparent transparent transparent;
}

/* ==========================================================================
 * product-images-thumbs
 * ========================================================================== */
.product-images-thumbs
{
    height: 470px;
    margin: 0;
    padding: 0;

    list-style: none;

    *zoom: 1;
}
.product-images-thumbs:before,
.product-images-thumbs:after
{
    display: table;

    content: ' ';
}
.product-images-thumbs:after
{
    clear: both;
}
.product-images-thumbs__item
{
    display: block;

    padding: 0 0 23px;
}
.product-images-thumbs__href
{
    display: block;
    overflow: hidden;

    width: 100px;
}
.product-images-thumbs__image
{
    width: 100px;
    height: 100px;

    vertical-align: top;
}

/* ==========================================================================
 * product-main-info
 * ========================================================================== */
.product-main-info__title
{
    font-size: 25px;
    font-weight: 600;
    line-height: 1;

    margin: -5px 0 2px;
}
.product-main-info__desc
{
    font-size: 18px;
    line-height: 21px;

    margin: 0 0 18px;
}
.product-main-info__characteristics
{
    margin: 0;
    margin: 0 0 28px;
    padding: 0;

    list-style: none;

    *zoom: 1;
}
.product-main-info__characteristics:before,
.product-main-info__characteristics:after
{
    display: table;

    content: ' ';
}
.product-main-info__characteristics:after
{
    clear: both;
}
.product-main-info__characteristic
{
    font-size: 14px;
    line-height: 16px;

    color: #999;
}
.product-main-info__characteristic strong
{
    color: #000;
}
.product-main-info__text
{
    font-size: 14px;
    line-height: 16px;

    margin: 0 0 50px;

    color: #999;
}
.product-main-info__price
{
    margin: 0 0 20px;
}
.product-main-info__buttons
{
    margin: 0 0 20px;

    *zoom: 1;
}
.product-main-info__buttons:before,
.product-main-info__buttons:after
{
    display: table;

    content: ' ';
}
.product-main-info__buttons:after
{
    clear: both;
}
.product-main-info__button
{
    float: left;

    width: 215px;
}
.product-main-info__button:first-child
{
    width: 130px;
}
.product-main-info__match
{
    margin: 0 50px;
}

/* ==========================================================================
 * product-price
 * ========================================================================== */
.product-price
{
    font-size: 22px;
    font-style: italic;

    color: #999;
}
.product-price span
{
    font-size: 36px;

    color: #000;
}
.product-price__old
{
    font-size: 16px;
}
.product-price__old span
{
    font-size: 22px;

    text-decoration: line-through;
}
.product-price__new span
{
    color: #5a9dee;
}

/* ==========================================================================
 * product-extra-info
 * ========================================================================== */
.product-extra-info__tabs-box
{
    overflow: hidden;

    background: #eee;
}
.product-extra-info__tabs
{
    display: table;

    width: 100%;
    width: 970px;
    margin: 0 -5px;
}
.product-extra-info__tab-box
{
    display: table-cell;

    text-align: center;
}
.product-extra-info__tab
{
    font-size: 18px;
    font-weight: 600;

    display: block;

    height: 34px;
    padding: 6px 15px 6px;

    text-transform: uppercase;

    background: #eee;
}
.product-extra-info__tab.active,
.product-extra-info__tab:hover
{
    text-decoration: none;

    color: #fff;
    background: #333;
}
.product-extra-info__block
{
    padding: 20px;
}
.product-extra-info__table
{
    margin: -20px;
}
.product-extra-info__text p
{
    margin: 0 0 1em;
}
.product-extra-info__video
{
    text-align: center;
}
.product-extra-info__video iframe
{
    margin: 0 0 30px;

    border: 0;
}

/* ==========================================================================
 * info-table
 * ========================================================================== */
.info-table
{
    font-size: 16px;

    width: 100%;

    table-layout: fixed;
}
.info-table tr:nth-child(2n)
{
    background: #eee;
}
.info-table tr:nth-child(2n) td
{
    border-color: #fff;
}
.info-table td
{
    padding: 10px 23px 5px;

    border-left: 1px solid #eee;
}
.info-table td:first-child
{
    border: 0;
}

/* ==========================================================================
 * page-catalog
 * ========================================================================== */
.page-catalog__nav
{
    display: inline-block;

    width: 259px;
    margin: 0 20px 0 0;

    vertical-align: top;
}
.page-catalog__content
{
    display: inline-block;

    width: 817px;

    vertical-align: top;
}
.page-catalog__filter
{
    margin: 0 0 30px 0;
}

.slider
{
	margin-left:-3px;
}

/* ==========================================================================
 * catalog-nav
 * ========================================================================== */
.catalog-nav
{
    font-size: 18px;

    margin: 0 0 10px 0;
    padding: 0;

    list-style: none;

    *zoom: 1;
}
.catalog-nav:before,
.catalog-nav:after
{
    display: table;

    content: ' ';
}
.catalog-nav:after
{
    clear: both;
}
.catalog-nav__item
{
    margin: 0 0 10px;
}
.catalog-nav__item.active
{
    color: #5a9dee;
}
.catalog-nav__item.active .catalog-nav-level-2
{
    display: block;
}

.catalog-nav-level-2
{
    font-size: 16px;

    display: none;

    margin: 0;
    margin: 0 0 0 10px;
    padding: 0;

    list-style: none;

    color: #999;

    *zoom: 1;
}
.catalog-nav-level-2:before,
.catalog-nav-level-2:after
{
    display: table;

    content: ' ';
}
.catalog-nav-level-2:after
{
    clear: both;
}
.catalog-nav-level-2__item
{
    margin: 5px 0 0 0;
}
.catalog-nav-level-2__item.active
{
    color: #000;
}

.leftbar
{
	float:left;
	width:259px;
}

.leftbar .filters
{
	padding:5px 20px;
	background:#FFEB0E;
	text-align:center;
}

.leftbar .filters h3{
	font-size:22px;
	font-style:normal;
}

.leftbar .filters .button-center{
	clear:both;
	margin:0 auto;
}

/* ==========================================================================
 * catalog-filter
 * ========================================================================== */
.catalog-filter
{
    font-size: 14px;

    padding: 15px;

    color: #fff;
    background: #333;
}
.catalog-filter__top
{
    margin: 0 0 0;
}
.catalog-filter__line
{
    display: inline-block;

    width: 250px;
    margin: 0 25px 10px 0;

    vertical-align: middle;
}
.catalog-filter__checkbox
{
    display: inline-block;

    width: 100px;
    margin: 0 0 5px 0;

    vertical-align: middle;
}
.catalog-filter__range
{
    display: inline-block;
	width:100%;
    margin: 0 35px 0 0;
}

/* ==========================================================================
 * catalog-range
 * ========================================================================== */
.catalog-range__scale
{
    height: 20px;

    text-align: justify;
}

.catalog-range__from,
.catalog-range__to
{
    line-height: 1;

    display: inline-block;

    width: 40%;

    vertical-align: top;
}
.catalog-range
{
    text-align: left;
}

.catalog-range input
{
    width:85px;
	border:1px solid red;
}



.catalog__sort
{
    line-height: 23px;
    float: right;
}

.avatar__button{
float:left;
}

.avatar{
height:auto;
margin-bottom:20px;
}

.inputFileText{
width:200px;
border:none;
float:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

.avatar input[type=file]{
position: absolute;
left: 0;
top: 0;
opacity: 0;*/
cursor: pointer
}

.upload{
	float:left;
	width:200px;
    font-size: 13px;
    text-decoration: none;
    color: #5a9dee;
}

/*! jQuery UI - v1.11.2 - 2014-12-05
* http://jqueryui.com
* Includes: core.css, slider.css
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden
{
    display: none;
}

.ui-helper-hidden-accessible
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

.ui-helper-reset
{
    font-size: 100%;
    line-height: 1.3;

    margin: 0;
    padding: 0;

    list-style: none;

    text-decoration: none;

    border: 0;
    outline: 0;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after
{
    display: table;

    border-collapse: collapse;

    content: '';
}

.ui-helper-clearfix:after
{
    clear: both;
}

.ui-helper-clearfix
{
    min-height: 0;
    /* support: IE7 */
}

.ui-helper-zfix
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;

    filter: Alpha(Opacity=0);
    /* support: IE8 */
}

.ui-front
{
    z-index: 100;
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled
{
    cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
.ui-icon
{
    display: block;
    overflow: hidden;

    text-indent: -99999px;

    background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.ui-slider
{
    position: relative;

    height: 4px;

    text-align: left;
}

.ui-slider .ui-slider-handle
{
    position: absolute;
    z-index: 2;

    width: 12px;
    height: 12px;

    cursor: pointer;

    outline: none;

    -ms-touch-action: none;
        touch-action: none;
}
.ui-slider .ui-slider-handle:before
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 0;
    height: 0;

    content: '';

    border-width: 0 6px 8px 6px;
    border-style: solid;
    border-color: transparent transparent #b7b7b7 transparent;
}

.ui-slider .ui-slider-range
{
    font-size: .7em;

    position: absolute;
    z-index: 1;

    display: block;

    border: 0;
    background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range
{
    -webkit-filter: inherit;
            filter: inherit;
}

.ui-slider-horizontal
{
    background: #999;
}

.ui-slider-horizontal .ui-slider-handle
{
    top: 4px;

    margin-left: -6px;
}

.ui-slider-horizontal .ui-slider-range
{
    top: 0;

    height: 4px;

    background: #fff;
}

.ui-slider-horizontal .ui-slider-range-min
{
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max
{
    right: 0;
}

.ui-slider-vertical
{
    width: .8em;
    height: 100px;
}

.ui-slider-vertical .ui-slider-handle
{
    left: -.3em;

    margin-bottom: -.6em;
    margin-left: 0;
}

.ui-slider-vertical .ui-slider-range
{
    left: 0;

    width: 100%;
}

.ui-slider-vertical .ui-slider-range-min
{
    bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max
{
    top: 0;
}

/*!
 * jQVMap Version 1.0 
 *
 * http://jqvmap.com
 *
 * Copyright 2012, Peter Schmalfeldt <manifestinteractive@gmail.com>
 * Licensed under the MIT license.
 *
 * Fork Me @ https://github.com/manifestinteractive/jqvmap
 */
.jqvmap-label
{
    font-family: sans-serif, Verdana;
    font-size: smaller;

    position: absolute;

    display: none;

    padding: 6px;

    color: #ccc;
    border-radius: 3px;
    background: #292929;
}

.jqvmap-label strong
{
    display: inline-block;

    color: #fff;
}

.jqvmap-label ul
{
    margin: 0;
    padding: 2px 10px 2px 20px;

    text-align: left;
}

.jqvmap-zoomin,
.jqvmap-zoomout
{
    line-height: 10px;

    position: absolute;
    left: 10px;

    width: 15px;
    height: 15px;
    padding: 3px;

    cursor: pointer;
    text-align: center;

    color: white;
    border-radius: 3px;
    background: #000;
}

.jqvmap-zoomin
{
    top: 10px;
}

.jqvmap-zoomout
{
    top: 30px;
}

.jqvmap-region
{
    cursor: pointer;
}

.jqvmap-ajax_response
{
    width: 100%;
    height: 500px;
}

/* ==========================================================================
 * helpers
 * ========================================================================== */
.hidden
{
    display: none;
}

.left_news 
{
	margin:20px 0;
}

.news_item
{
	margin:10px 0;
}

.news-date
{
	color:#579AE8;
}

.news_bar h3
{
	width:100%;
	text-align:center;
	font-style:normal;
}

.news_link
{
	display:block;
	width:100%;
	padding:10px 20px;
	background:#FEC712;
	text-align:center;
}



.catalog-sort
{
    font-size: 14px;

    color: #989898;
}
.catalog-sort__href
{
    display: inline-block;

    margin: 0 0 0 25px;
}

.catalog-sort__href.asc{
	padding-right:10px;
	background:url('../images/asc.png') no-repeat center right;
}

.catalog-sort__href.desc{
	padding-right:10px;
	background:url('../images/desc.png') no-repeat center right;
}

.catalog-sort__href:hover,
.catalog-sort__href.active
{
    color: #000;
}