 body {
     padding: 0;
     margin: 0;
     font-weight: 300;
 }
 .cel li {
     list-style: none;
     background: url(../images/gal.png) no-repeat 0% 49%;
     padding-left: 25px;
     line-height: 1.6;
 }
 ul {
     padding: 0;
     padding-left: 20px;
 }
 .container {
     width: 1100px;
     margin: 0 auto;
     overflow: hidden;
     position: relative;
 }
 .center_header {
     /* display: inline-block; */
     
     font-size: 32px;
     margin-top: 95px;
     float: right;
     position: absolute;
     right: 0px;
     width: 665px;
 }
 .logo {
     float: left;
     margin-top: 24px;
     font-size: 18px;
     font-weight: bold;
 }
 .logo a{color:#615A31;}
 footer  .logo a{color:#20201e;}
 .right_info {
     float: right;
     font-size: 28px;
     margin-top: 30px;
     font-weight: normal;
     margin-right: 42px;
 }
 .right_info .mail {
     font-size: 15px;
     display: block;
     text-align: left;
     color: #000000;
     margin-top: 5px;
     text-decoration: underline;
 }
 header {
     text-align: center;
     height: 130px;
     /* border-bottom: 5px solid rgba(0, 0, 0, 0.12); */
     
     background-color: #f8e15f;
     position: relative;
 }
 footer {
     text-align: center;
     clear: both;
     /* margin-bottom: 50px; */
 }
 html,
 body {
     background: #ffffff;
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
 }
 #container {
     margin: 40px auto;
     width: 800px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
 }
 #header {
     border-bottom: 1px solid #eee;
     margin: 0 0 20px;
     overflow: hidden;
     padding: 0 0 10px;
 }
 h2 {
     color: #2a2a2a;
     font-size: 24px;
     font-weight: 400;
     margin: 0;
     margin-bottom: 20px;
     margin-top: 20px;
 }
 h1 {
     color: #313131;
     font-size: 36px;
     margin: 30px 0 50px 0;
     font-weight: 300;
     text-align: center;
     font-weight: 400;
 }
 a {
     color: #49556a;
     text-decoration: none;
 }
 .content a {
     text-decoration: underline;
 }
 a:hover {
     color: #555;
 }
 .sliderright {
     width: 185px;
     float: right;
     text-align: center;
     margin-top: 75px;
     margin-right: 5px;
 }
 .content p {
     color: #49556a;
 }
 p {
     margin: 0;
     padding: 0;
     margin-bottom: 20px;
     line-height: 1.6;
     font-size: 14px;
     font-weight: 300;
     color: #4a4a4a;
 }
 hr {
     background: rgba(248, 225, 95, 0.33);
     height: 7px;
     border: 0;
     margin-bottom: -8px;
     margin-top: 0;
     position: relative;
 }
 footer {
     background: #353839;
     overflow: hidden;
     padding: 0px 0;
     background-color: #f5f5f5;
     border-top: 5px solid #f7ecb7;
     height: 110px;
     position: relative;
 }
 footer ul {
     padding: 0;
     padding-left: 0px;
 }
 .breadcrumbs {
     font-size: 14px;
     background: #eff3f4;
     height: 50px;
     line-height: 50px;
 }
 .breadcrumbs a {
     color: #626262;
     text-decoration: underline;
 }
 .breadcrumbs span {
     color: #9d9d9d;
 }
 .breadcrumbs img {
     margin: 0 10px;
 }
 .nav > li {
     padding: 0;
     float: left;
     position: relative;
     padding-top: 8px;
     height: 53px;
     list-style: none;
     background: url(../images/menu_bull.png) no-repeat 55% 63%;
 }
 .nav > li:hover {
     padding: 0;
     float: left;
     position: relative;
     padding-top: 8px;
     height: 53px;
     list-style: none;
     background: url(../images/menu_bull_h.png) no-repeat 55% 63%;
 }
 .nav > li.active {
     padding: 0;
     float: left;
     position: relative;
     padding-top: 8px;
     height: 53px;
     list-style: none;
     background: url(../images/menu_bull_h.png) no-repeat 55% 63%;
 }
 .nav > li a {
     margin: 15px;
     color: #2f2f2f;
     font-size: 14px;
     font-weight: 500;
 }
 .nav > li.active a {
     color: #737373
 }
 .nav > li:hover a {
     color: #737373
 }
 .menu {
     float: left;
     margin-top: 50px;
     margin-left: 20px;
     background: url(../images/menu.png) no-repeat 60% 70%;
 }
 .phone {
     color: #2e2e2e;
     font-size: 13px;
     font-weight: 500;
     background: url(../images/phone.png) no-repeat 2% 0%;
     height: 25px;
     padding-left: 35px;
 }
 .phone span {
     font-size: 18px;
 }
 .callme {
     margin-top: 30px;
     float: right;
     margin-right: 50px;
 }
 .recall {
     margin-top: 20px;
 }
 .recall .button:hover {
     background-color: #fff;
 }
 .recall .button {
     color: #3f3d3d;
     font-size: 13px;
     font-weight: 500;
     border: 3px solid #fff;
     padding: 7px 30px;
 }
 .slogan {
     position: absolute;
     font-size: 14px;
     font-weight: 500;
     left: 420px;
     top: 25px;
     color: #3c3c3c;
     font-style: italic;
     background: url(../images/slogan.png) no-repeat 0 0;
     height: 29px;
     padding-left: 40px;
     padding-top: 5px;
 }
 .slider {
     height: 225px;
     background: url(../images/slider.png) no-repeat top center;
     background-size: cover;
     margin-top: 0px;
     padding-top: 50px;
     margin-bottom: -10px;
 }
 .sale-text {
     background: url(../images/slider_back.png) no-repeat top center;
     height: 80px;
     7- top: 50px;
     display: block;
     position: relative;
     width: 606px;
     margin: auto;
     padding: 17px 60px;
     font-weight: bold;
     font-size: 22px;
     color: #282828;
     text-align: center;
 }
 .sale-small {
     font-size: 24px;
     font-weight: bold;
     color: #fff;
     text-shadow: 0 0 4px #000;
     text-align: center;
 }
 .services {
     padding: 40px 0;
     overflow: hidden;
 }
 .service {
     width: 33%;
     float: left;
     margin-right: 3px;
 }
 .service_name {
     background: url(../images/serv_bd.png) no-repeat top center;
     height: 42px;
     text-align: center;
     font-size: 24px;
     color: #363636;
     font-weight: 400;
     padding-top: 5px;
     background-size: 95% 90%;
 }
  .service_name  a{color: #363636;}
 .service_img {
     text-align: center;
     margin: 20px 0 0px;
     min-height: 125px;
 }
 .service_text {
     text-align: center;
     font-size: 14px;
     color: #363636;
     padding: 0px 25px;
     line-height: 1.5;
 }
 .service_button {
     background: url(../images/button.png) no-repeat;
     width: 262px;
     height: 38px;
     display: block;
     text-align: center;
     line-height: 38px;
     margin: 30px auto 0;
 }
 .service_button:hover {
     opacity: 0.8;
 }
 .service_button span {
     color: #fff;
     font-size: 14px;
     padding-left: 10px;
     display: block;
     float: left;
 }
 .service_button img {
     padding-top: 10px;
     float: left;
     margin-left: 54px;
 }
 .advantages {
     background: url(../images/advent.png);
     overflow: hidden;
     margin: 0;
     background-size: cover;
 }
 .advantages h1 {
     background: url(../images/h1.png) no-repeat;
     width: 605px;
     margin: auto;
     font-size: 36px;
     height: 107px;
     color: #3a3a3a;
     text-align: center;
     line-height: 98px;
     font-weight: 500;
 }
 .advantage_name {
     background: url(../images/adven_bg.png) no-repeat top center;
     height: 42px;
     text-align: center;
     font-size: 16px;
     color: #323232;
     font-weight: 500;
     padding-top: 3px;
     line-height: 38px;
     text-transform: uppercase;
     background-size: 96% 90%;
 }
 .advantage_img {
     text-align: center;
     margin: 20px 0 0px;
     min-height: 125px;
 }
 .advantage_text {
     text-align: center;
     font-size: 16px;
     color: #FFFFFF;
     padding: 0px 75px;
     line-height: 1.5;
     margin: 20px 0 0px;
 }
 .advantage {
     width: 33%;
     float: left;
     margin-right: 3px;
     margin: 30px 0 50px;
 }
 .menu.footer {
     margin-top: 0px;
     background: url(../images/menu.png) no-repeat 50% 70%;
 }
 .menu.footer .nav > li {
     background: url(../images/menu_bull_foot.png) no-repeat 55% 63%;
 }
 .menu.footer .nav > li:hover {
     background: url(../images/menu_bull_h.png) no-repeat 55% 63%;
 }
 footer .logo {
     margin-top: 15px;
 }
 footer .callme {
     margin-top: 20px;
 }
 footer .recall .button {
     border: 3px solid #f8e15f;
     background: #f8e15f;
 }
 .banking {
     position: absolute;
     font-size: 13px;
     color: #3f3d3d;
     font-weight: 400;
     top: 78px;
     left: 370px;
     /* display: none; */
 }
 .social {
     position: absolute;
     top: 70px;
     left: 240px;
 }
 .social a {
     margin: 0 0 0 4px;
 }
 .email {
     position: absolute;
     left: 675px;
     font-size: 13px;
     color: #3f3d3d;
     font-weight: 400;
     top: 77px;
 }
 .banking span {
     margin: 0 10px 0 0;
 }
 .about_us {
     background: url(../images/about_bg.jpg) no-repeat top center;
     overflow: hidden;
     padding: 40px 0 50px;
 }
 .about {
     width: 49%;
     float: left;
     margin-right: 10px;
 }
 .about_img {
     width: 160px;
     float: left;
 }
 .about_img img {
     border: 7px solid #f0f0f0;
 }
 .about_text {
     width: 360px;
     float: left;
     margin-left: 15px;
     font-size: 14px;
 }
 .about_img span {
     font-size: 18px;
     color: #474747;
     font-weight: 400;
     text-align: center;
     display: block;
     width: 136px;
     /* margin: auto; */
 }
 .about_button {
     background: url(../images/button_about.png) no-repeat;
     width: 267px;
     height: 44px;
     display: block;
     text-align: center;
     line-height: 44px;
     margin: 25px auto 0;
     font-size: 14px;
     font-weight: 400;
 }
 .about_button:hover {
     opacity: 0.8;
 }
 .facts {
     width: 48%;
     height: 120px;
     margin-bottom: 3px;
     float: left;
     overflow: hidden;
     margin-right: 3px;
     background-color: #eeeeee;
 }
 .facts_stats span {
     font-size: 18px;
     font-weight: 700;
     margin-right: 5px;
     color: #d42c2c;
 }

 .facts_stats {
     margin-bottom: 0;
     margin-top: 0;
     color: #d42c2c;
     font-size: 40px;
     font-weight: 500;
     line-height: 1;
 }
 .facts_text {
     float: left;
     font-size: 17px;
     color: #373737;
     font-weight: 400;
     margin-bottom: 0;
     line-height: 1.2;
 }
 .documents {
     overflow: hidden;
     padding-bottom: 60px;
 }
 .document {
     float: left;
     width: 230px;
     margin-right: 20px;
     margin-top: 20px;
 }
 .document img {
     border: 7px solid #f0f0f0;
 }
 .popular_services {
     background-color: #f8f8f8;
     overflow: hidden;
     padding: 0 0 30px;
 }
 .popular_service {
     width: 49%;
     float: left;
     margin-bottom: 20px;
 }
 .popular_service_image {
     width: 125px;
     float: left;
 }
 .popular_service_text {
     float: left;
     width: 320px;
     margin-left: 15px;
     min-height: 300px;
 }
 .popular_service_text p {
     color: #474747;
     margin-bottom: 5px;
 }
 .popular_service_text a {
     background: url(../images/button_pop.png) no-repeat;
     width: 174px;
     height: 36px;
     display: block;
     text-align: center;
     line-height: 36px;
     margin: 10px 0;
     font-size: 14px;
     font-weight: 400;
     color: #fff;
 }
 .popular_service_text a:hover {
     opacity: 0.8;
 }
 .popular_service_text h3 {
     font-size: 21px;
     color: #2a2a2a;
     margin: 0 0 10px;
     font-weight: 500;
 }
 .partners {
     padding: 0 0 30px;
 }
 .testimonial {
     background: url(../images/advent.png);
     overflow: hidden;
     margin: 0;
     padding: 0 0 50px;
     background-size: cover;
 }
 .testimonial h1 {
     color: #313131;
 }
 .testimonial_block {
     width: 100%;
     float: left;
     margin-right: 20px;
 }
 .testimonial_text {
     background: url(../images/ots_bg.png) no-repeat;
     width: 285px;
     height: 350px;
     float: left;
     padding: 20px 20px 30px 80px;
     background-size: 100% 94%;
     margin-left: -25px;
 }
 .testimonial_image {
     float: left;
     width: 110px;
     margin-top: 35px;
     text-align: center;
 }
  .testimonial_image p{color: #FFF;margin-bottom: 5px;font-size: 15px;}
   .testimonial_image a{color:#fff;text-decoration:underline;font-size: 14px;}
 .testimonial_image img {
     border-radius: 50%;
     width: 95px!important;
     margin: auto;
 }
 .testimonial_page   .testimonial_image p{color:#000;margin-bottom: 5px;font-size: 15px;}
  .testimonial_page    .testimonial_image a{color:#000;text-decoration:underline;font-size: 14px;}
 .testimonial_name {
     color: #3e403f;
     font-size: 16px;
     font-weight: 500;
     margin-bottom: 0;
 }
 .testimonial_date {
     color: #3e403f;
     font-size: 14px;
     margin-bottom: 10px;
 }
 .testimonial_body {
     margin-bottom: 10px;
     font-size: 13px;
 }
 .testimonial_price {
     font-size: 13px;
     font-weight: 500;
     margin-bottom: 7px;
 }
 .testimonial_stars span {
     font-size: 13px;
     margin: 5px 5px 0 0;
 }
 .testimonial_stars img {
     margin: 3px 2px -2px;
     width: 16px!important;
     /* float: left; */
     
     display: inline-block!important;
 }
 .testimonial_button {
     background: url(../images/button_testimonal.png) no-repeat;
     width: 267px;
     height: 44px;
     display: block;
     text-align: center;
     line-height: 46px;
     margin: 0px auto 0;
     font-size: 14px;
     font-weight: 400;
     color: #373737;
 }
 .testimonial_button:hover {
     opacity: 0.8;
 }
 .modal_left {
     float: left;
     width: 310px;
     margin-top: 50px;
 }
 .modal_right {
     float: left;
     width: 380px;
 }
 .modal_right .title {
     color: #323232;
     font-size: 36px;
     font-weight: 500;
 }
 input[type=text],
 input[type=password] {
     margin: 7px 0;
     padding: 0 10px;
     width: 240px;
     height: 40px;
     color: #404040;
     background: white;
     border: 1px solid;
     border-color: #c4c4c4 #d1d1d1 #d4d4d4;
     outline: none;
     text-align: center;
 }
 .modal_right form {
     width: 280px;
     margin: auto;
 }
 .modal_right .service_button {
     margin-top: 10px;
 }
 .modal_mail {
     background: url(../images/modal_mail.png) no-repeat;
     padding-left: 40px;
     height: 35px;
     display: block;
     text-align: left;
     padding-top: 6px;
     float: left;
     font-weight: 500;
     margin-top: 20px;
     margin-left: 10px;
     font-size: 14px;
 }
 .modal_phone {
     background: url(../images/modal_phone.png) no-repeat;
     padding-left: 40px;
     height: 35px;
     display: block;
     text-align: left;
     padding-top: 4px;
     float: left;
     font-weight: 500;
     margin-top: 20px;
     margin-left: 15px;
     font-size: 18px;
 }
 .modal_phone {
     background: url(../images/modal_phone.png) no-repeat;
     padding-left: 40px;
     height: 35px;
     display: block;
     text-align: left;
     padding-top: 4px;
     float: left;
     font-weight: 500;
     margin-top: 20px;
     margin-left: 15px;
     font-size: 18px;
 }
 .contacts_phone {
     color: #2e2e2e;
     font-size: 13px;
     font-weight: 400;
     background: url(../images/contact_phone.png) no-repeat 2% 0%;
     /* height: 25px; */
     padding-left: 35px;
     float: left;
     width: 170px;
     margin: 30px;
     font-size: 14px;
     margin-left: 100px;
   
 }
  .contacts_phone p{ font-size: 14px; font-weight: 400; color: #2e2e2e;margin-bottom: 10px;}
 .contacts_phone span {
     font-size: 18px;
 }
 .contacts_mail {
     float: left;
     width: 190px;
     font-size: 14px;
     margin: 30px 0;
     background: url(../images/contact_mail.png) no-repeat 2% 0%;
     height: 25px;
     padding-left: 35px;
     font-weight: 400;
     color: #000!important;
     text-decoration: underline;
 }
 .contacts_skype {
     float: left;
     width: 150px;
     font-size: 14px;
     margin: 30px 0;
     background: url(../images/skype.png) no-repeat 2% 0%;
     height: 25px;
     padding-left: 35px;
     font-weight: 400;
     color: #000!important;
 }
 .contacts_location {
     float: left;
     width: 250px;
     font-size: 14px;
     margin: 25px 0 30px;
     background: url(../images/location.png) no-repeat 2% 0%;
     /* height: 25px; */
     padding-left: 35px;
     font-weight: 400;
     padding-top: 5px;
 }
  .contacts_location p{  font-weight: 400;    font-size: 14px;margin-bottom: 10px;}
 .contact_form {
     width: 700px;
     margin: 50px auto;
     overflow: hidden;
 }
 .contact_form input[type=text],
 input[type=password] {
     text-align: left;
     width: 305px;
     float: left;
     margin-right: 20px;
 }
 .contact_form textarea {
     text-align: left;
     width: 651px;
     margin: 7px 0;
     padding: 10px 10px;
     height: 150px;
     color: #404040;
     background: white;
     border: 1px solid;
     border-color: #c4c4c4 #d1d1d1 #d4d4d4;
     outline: none;
     font-size: 14px;
 }
 .button_contact {
     background: url(../images/button_contact.png) no-repeat;
     width: 192px;
     height: 43px;
     display: block;
     text-align: center;
     line-height: 43px;
     margin: 10px 0;
     font-size: 14px;
     font-weight: 400;
     color: #000;
     float: right;
     margin-right: 27px;
 }
 .button_contact:hover {
     opacity: 0.8;
 }
 .contact_form h2 {
     text-transform: uppercase;
     color: #3d3d3d;
 }
 .block {
     padding: 0;
 }
 .block_in {
     padding: 12px;
 }
 .box div.hide {
     display: block;
     width: 40px;
     line-height: 24px;
     position: absolute;
     right: 5px;
     top: 8px;
     cursor: pointer;
     font-size: 10px;
     text-transform: uppercase;
     text-align: center;
     border: solid 1px #aaa;
     background: #f5f5f5;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     -webkit-box-shadow: 0 0 4px #DCDCDC inset;
     -moz-box-shadow: 0 0 4px #DCDCDC inset;
     box-shadow: 0 0 4px #DCDCDC inset;
 }
 .box div.hide:hover {
     background: #fff;
 }
 .box div.hide span.h {
     display: block;
 }
 .box div.hide span.s {
     display: none;
 }
 .box div.show span.h {
     display: none;
 }
 .box div.show span.s {
     display: block;
 }
 .closed div.hide span.h {
     display: none;
 }
 .closed div.hide span.s {
     display: block;
 }
 .closed div.show span.h {
     display: block;
 }
 .closed div.show span.s {
     display: none;
 }
 .spoiler h2,
 .spoiler.close h2 {
     padding: 10px 0px;
     font-size: 14px;
     color: #000;
     cursor: pointer;
     margin: 10px 0 0 0;
     /* min-height: 35px; */
     
     line-height: 35px;
 }
 .close.spoiler h2 {
     background: #f4f5f5;
     padding-left: 30px;
     color: #278fbb;
     font-size: 18px;
     text-decoration: underline;
     text-align: left;
     line-height: 1.2;
 }
 .close.spoiler h2.bgcolor {
     background: #f4f4f4;
     padding-left: 30px;
     color: #278fbb;
     font-size: 18px;
     text-decoration: underline;
 }
 .spoiler h2 {
     background: #ddd;
 }
 .spoiler h2.bgcolor {
     background: #f4f5f5;
     background: url(../images/open.jpg) no-repeat 1%, #f4f5f5;
     padding-left: 30px;
 }
 .spoiler h2 span {
     font-size: 12px;
     color: #555;
     float: right;
 }
 .spoiler .block {
     padding: 5px 30px 25px;
     background: #f4f4f4;
     overflow: hidden;
     font-size: 13px;
     color: #3e403f;
     line-height: 1.5;
 }
 .spoiler {
     box-shadow: 0px 2px 5px #969494;
     width: 800px;
     margin: 0 auto;
     margin-bottom: 15px;
 }
 .spoiler.close {} .show {
     display: none;
 }
 .bgcolor .show {
     display: block;
 }
 .hide {
     display: block;
 }
 .bgcolor .hide {
     display: none;
 }
 .close .show {
     display: block;
 }
 .close .bgcolor .show {
     display: none;
 }
 .close .hide {
     display: none;
 }
 .close .bgcolor .hide {
     display: block;
 }
 .faq {
     padding: 50px 0;
 }
 .testimonial_page {
     padding: 50px 0;
     overflow: hidden;
     background: url(../images/tpage_bg.png) no-repeat 0px -30px;
 }
 .testimonial_text.page {
     background: url(../images/testim.png) no-repeat;
     height: 330px;
     width: 315px;
     padding: 20px 20px 30px 75px;
     background-size: 100% 100%;
 }
 .testimonial_name.page {
     margin-bottom: 15px;
     font-weight: 400;
     font-size: 15px;
 }
 .testimonial_link {
     color: #6590c4;
     font-size: 13px;
     text-decoration: underline;
     display: block;
     margin-bottom: 15px;
 }
 .testimonial_button_red {
     background: url(../images/button_testim.png) no-repeat;
     width: 149px;
     height: 44px;
     display: block;
     text-align: center;
     line-height: 44px;
     margin: 0px 0;
     font-size: 14px;
     font-weight: 400;
     color: #fff!important;
     opacity: 1;
     text-decoration: none!important;
     position: relative;
 }
 .testimonial_button_red:hover {
     opacity: 0.8!important;
     color: #fff;
 }
 .checkbox {
     vertical-align: top;
     margin: 0 3px 0 0;
     width: 20px;
     height: 20px;
 }
 .checkbox + label {
     cursor: pointer;
 }
 .checkbox:not(checked) {
     position: absolute;
     opacity: 0;
 }
 .checkbox:not(checked) + label {
     position: relative;
     padding: 0px 0 0 26px;
     font-size: 14px;
     color: #363636;
 }
 .checkbox:not(checked) + label:before {
     content: '';
     position: absolute;
     top: 0px;
     left: 0;
     width: 15px;
     height: 15px;
     background: #FFFFFF;
     border: 1px solid #E5E5E5;
     border-radius: 3px;
     box-shadow: 0px 0px 2px #E5E5E5;
 }
 .checkbox:not(checked) + label:after {
     /* content: ''; */
     
     position: absolute;
     top: -2px;
     left: 2px;
     width: 22px;
     height: 22px;
     border-radius: 10px;
     background: #FFF;
     transition: all .2s;
 }
 .checkbox:checked + label:before {
     background: url(../images/gall.png) no-repeat 50% 50%;
 }
 .checkbox:checked + label:after {
     left: 26px;
 }
 .testimonial_filter {
     font-size: 16px;
     color: #2a2a2a;
     font-weight: 500;
     width: 175px;
     float: left;
     padding: 10px 0px;
     margin-bottom: 50px;
 }
 .testimonial_filter.border {
     border: 1px solid #ececec;
     background-color: #fff;
     margin-right: 15px;
     padding: 10px 20px;
 }
 .services_page {
     padding: 50px 0;
     overflow: hidden;
     background: url(../images/tpage_bg.png) no-repeat 0px -30px;
 }
 .button_red {
     background: url(../images/button_testim.png) no-repeat;
     width: 125px;
     height: 44px;
     display: block;
     text-align: center;
     line-height: 44px;
     margin: 0px 0;
     font-size: 14px;
     font-weight: 400;
     color: #fff;
     background-size: 100% 100%;
 }
 .button_red:hover {
     opacity: 0.8;
     color: #fff;
 }
 .popular_service.page {
     /* min-height: 215px; */
     
     background-color: #fff;
     box-shadow: 0 0 12px #B5B5B5;
     padding: 20px;
     margin-left: 10px;
     width: 43%;
     margin-right: 20px;
     margin-bottom: 30px;
 }
 .popular_service.page img {
     width: 130px;
     height: 130px;
 }
 .content_page_text img {
     float: left;
     margin-right: 20px;
     width: 120px;
 }
 .content_page_text p {
     margin-bottom: 5px;
 }
 .about_us_page_advantages .advantage_img {
     min-height: 90px;
 }
 .about_us_page_advantages .advantage_text {
     color: #373737;
     font-size: 14px;
     margin-top: 10px;
     padding: 0px 40px;
 }
 .about_us_page_advantages .advantage_name {
     text-transform: inherit;
     font-size: 15px;
     font-weight: 400;
 }
 .about_us_page_advantages .advantage {
     margin: 5px 0;
 }
 .about_us_page_advantages {
     margin: 20px 0 30px;
     overflow: hidden;
 }
 .about_us_page_people img {
     float: left;
     margin-right: 20px;
     border: 7px solid #F0F0F0;
     width: 121px;
     height: 162px;
 }

img {}
 .about_us_page_people p {
     margin-bottom: 10px;
 }
 h3 {
     font-size: 18px;
     color: #474747;
     font-weight: 500;
     margin-top: 0;
 }
 .about_us_page_people a {
     font-size: 13px;
     color: #6590c4;
     text-decoration: underline;
 }
 .about_us_page_people {
     margin: 30px 0;
     overflow: hidden;
     float: left;
     width: 48%;
     margin-right: 15px;
 }
 .about_us_page {
     padding: 50px 0;
 }
 table {
     width: 815px;
     border-collapse: collapse;
 }
 th {
     font-size: 14px;
     text-align: left;
     padding: 15px 0;
 }
 td {
     font-size: 14px;
     text-align: left;
     padding: 20px 0;
     border: 1px solid #dfdfdf;
     padding: 15px;
     padding-left: 10px;
     font-size: 15px;
 }
 th {
     font-size: 14px;
     text-align: center;
     padding: 20px 0;
     border: 1px solid #dfdfdf;
     background-color: #f7e895;
 }
 td.silver {
     background-color: #f4f4f4;
     font-size: 16px;
     font-weight: 500;
     border-left: 0;
 }
 td.pink {
     background-color: #fffdf1;
     text-align: center;
     font-size: 15px;
     /* padding-left: 0; */
 }
 td.grey {
     background-color: #f9f7f2;
     text-align: center;
     /* padding-left: 0; */
 }
 th.number {
     width: 110px;
 }
 th.name {
     width: 410px;
 }
 th.price {
     width: 350px;
 }
 td.silver.number {
     text-align: center;
     padding-left: 0;
     color: #3e403f;
     font-size: 24px;
     font-weight: 700;
     border-right: 0;
     border-left: 1px solid #DFDFDF;
 }
 .accident_page {
     padding: 50px 0;
     overflow: hidden;
     background: url(../images/tpage_bg.png) no-repeat 0px -30px;
 }
 .button_ocenka {
     background: url(../images/button_red.png) no-repeat;
     width: 267px;
     height: 44px;
     display: block;
     text-align: center;
     line-height: 44px;
     margin: 0px 0;
     font-size: 14px;
     font-weight: 400;
     color: #fff;
     margin: 30px auto 0;
 }
 .process {
     overflow: hidden;
     padding: 30px 0;
 }
 .process_step {
     width: 180px;
     float: left;
 }
 .process_step_img {
     7: 250px;
     text-align: center;
 }
 .process_step p {
     text-align: center;
     color: #3e403f;
     font-size: 16px;
     font-weight: 400;
     margin-top: 20px;
 }
 .process_arrow {
     float: left;
     width: 30px;
     margin-top: 30px;
 }
 .content_page_text {
     overflow: hidden;
 }
 .type_examinations {
     background: url(../images/types.png) no-repeat 2% 50%, #f4f4f4;
     padding: 15px 15px 15px 55px;
     color: #3e403f;
     font-size: 16px;
     font-weight: 400;
     margin-bottom: 7px;
     line-height: 1.2;
 }
 .types {
     overflow: hidden;
     margin: 30px 0;
 }
 footer .logo_responsive {
     display: none;
 }
 .testimonial .owl-prev {
     background: url(../images/ot_left.png) no-repeat;
 }
 .testimonial .owl-next {
     background: url(../images/ot_right.png) no-repeat;
 }
 #touch-menu {
     display: none;
 }
 .recall_mobile {
     display: none;
 }
 .button_ocenka:hover {
     opacity: 0.8;
     color: #fff;
 }
 .testimonial_text a {
     font-size: 14px;
     color: #1C2DFF;
     text-decoration: underline;
 }
 .testimonial_stars {
     margin-bottom: 10px;
 }
 .popular_service.page .popular_service_text {
     min-height: 230px;
 }
 .reveal-modal.minimal {
     width: 280px;
     left: 57%;
     height: 305px;
     border-bottom: 3px solid #F8E15F;
     border-right: 3px solid #F8E15F;
 }
 .reveal-modal.minimal .modal_right {
     width: 260px;
 }
 .reveal-modal.minimal .modal_right .title {
     color: #323232;
     font-size: 22px;
     font-weight: 500;
 }
 .documents .owl-carousel .owl-item img {
     width: 180px!important;
     margin: auto;
 }
 .documents .owl-next,
 .documents .owl-prev {
     top: 120px;
 }
 .documents .owl-carousel .owl-item {
     margin-right: 0;
 }
 #myModal1 .modal_right .title {
     font-size: 22px;
 }
 header .container {
     width: 1070px;
 }
 .accident_page .container {
    width: 815px;
  
}
 .accident_page .spoiler {
    width: 800px;

}

 .faq .container, .about_us_page .container {
    width: 815px;
  
}
h3.about_us_contact{
    text-align: center;
    margin: 20px 0;
}

.contact_info{
    overflow: hidden;
}
.contacts .about_us_page_people {

    width: 31%;
}
.service_button.mobile{display:none;}
.facts_body{
    overflow: hidden;
    background: url(../images/stat.png) no-repeat 10% 10%;
    padding-left: 75px;
    padding-top: 10px;
    padding-right: 14px;
}
.modal_mail a{color:#000;}
.modal_phone a{color:#000;}
.ymaps_https___api_maps_yandex_ru_2_1_29_release__islands_icon___FFD21E

{background: url(../images/map.png) no-repeat!important;}
/* Убрать когда добавиться пункт меню */
.menu{    
margin-left: 40px;
}

.menu.footer {
    margin-left: 67px;
}

/* Убрать до этого места */