/* http://necolas.github.io/normalize.css/3.0.2/normalize.css */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{background-color:transparent;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}h1{font-size:2em;margin:0.67em 0;}mark{background:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:1em 40px;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}pre{overflow:auto;}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em;}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}button{overflow:visible;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}input{line-height:normal;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}textarea{overflow:auto;}optgroup{font-weight:bold;}table{border-collapse:collapse;border-spacing:0;}td,th{padding:0;}                                           
        * {
        	margin: 0;
        	padding: 0;
        }
        
        html {
        	height: 100%;
			min-width: 980px;
        }
        
        header, nav, section, main, article, aside, footer {
        	display: block;
        }
        
        body {
                height: 100%;
                width: 100%;
			min-width: 980px;
                background:#fefefe;
				font-family: OpenSansBold, Tahoma;
        }
        
        .maxw {
        	margin: 0 auto;
        	min-width: 980px;	
        }
                                                                                                     
        header {
            min-width:980px;
        	width: 100%;
        	height: 60px;
			background: url(/template/client/images-new/header-gradient.png) repeat-x;
			
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.7);
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.7);
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.7);
			
			margin-bottom: 5px;
			
        }

		header .logo {
			margin-left: 22px;
			margin-top: 5px;
			
		}
		
		header .catalog-btn {
			position: absolute;
			top: 7px;
			left: 290px;
			padding-left: 20px;
			font-size: 12px;
			font-weight: bold;
			color: #3399ff;
			height: 17px;
			background: url(/template/client/images-new/icon-catalogue.png) 0px 1px no-repeat;
		}
		header .catalog-btn  a{
			font-size: 12px;
			font-weight: bold;
			color: #3399ff;
			margin-bottom: 2px;
			text-decoration: none;
		}
		header .catalog-btn  a:hover{
			color:#ec1c24;
		}
		header .top-menu {
			position: absolute;
			top: 33px;
			left: 290px;
			list-style:none;
		}
		header .right-contacts {
			position: absolute;
			right: 0;
			top: 10px;
			list-style:none;
		}
		
		header .minicart {
			position: absolute;
			right: 24px;
			top: 33px;
			font-size: 14px;
		}
		header .minicart  a{
			text-decoration: none;
			padding-top: 0px;
			padding-bottom: 3px;
			padding-left: 20px;
			background: url(/template/client/images-new/icon-cart.png) 0 0 no-repeat;
			color: black;
		}
		
		.clearfix
  {
  margin:0;
  padding:0;
  }
 
.clearfix:after 
  {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  margin:0;
  padding:0;
  font-size:0;
}

.right-contacts  ul{
			list-style:none;
			font-size: 14px;
}
.right-contacts  li{
float:left;
margin-right: 12px;
padding-right: 12px;
line-height: 12px;
padding-bottom: 2px;
border-right: 2px solid #000;
}

.right-contacts li.right {
border-right: none;
}
.right-contacts li.phone {
	background: url(http://brightbuild.ru/images/icon-phone.png) 0px 0px no-repeat;
	padding-left: 16px;
}

.top-menu  ul{
			list-style:none;
}
.top-menu  li{
float:left;
margin-right: 25px;
padding-right: 25px;
line-height: 16px;
padding-bottom: 2px;
border-right: 2px solid #000;
}

.top-menu li.right {
border-right: none;
}

.top-menu  li a{
float:left;
font-size:15px;
color:#000;
font-weight:bold;
text-decoration:none;
}

.top-menu  li a:hover,.top-menu li.current a{
color:#ec1c24;
}

.top-menu li ul{
display:none;
padding:0;
position:absolute;
top:18px;
left:-10px;
background:#fff/*c8c8c8*/;
box-shadow:2px 2px 10px rgba(0,0,0,0.5);
z-index:110000;
}

.top-menu  li:hover > ul{
display:block;
}

.top-menu li ul li{
padding:7px 8px;
border:none;
clear:both;
}

.top-menu li ul li a:first-child{
color:#000;
font-weight:normal;
}

.top-menu li ul li a:hover{
color:#ec1c24;
}

             
      #wrapper {
                position: relative;
                margin: 0 auto;
				overflow-y: hidden;
                padding:0px 0;
        }

         .section {
        	width: 100%;
        	padding: 0;
        	position: relative;
        }
        
          .section:after {
        	content: '';
        	clear: both;
        	display: table;
        }
        
        .mainwrap {
        	width: 100%;
        	float: left;
        	overflow: hidden;
        }
        
        main {
        	padding: 0 310px 0 290px;
                margin:0;
        }
		
		main.cart {
			padding: 0 0 0 290px;
		}
		
		main.news {
			padding: 0 260px 0 290px;
		}
        
		.breadcrumbs {
			background: url(/template/client/images-new/icon-home.png) 0 0 no-repeat;
			font-size: 12px;
			padding-left: 22px;
			margin-top: 4px;
			width: 250px;
			float: left;
			font-weight: normal;
			color: #000099;
		}
		
		main.news .breadcrumbs{
			width: 100%;
		}
		
		.p_brdcr .breadcrumbs{
			width: 500px;
			
		}
        
		.sortings {
			font-size: 12px;
			margin-top: 4px;
			font-weight: normal;
			color: #0099ff;
		}
		.sortings span{
			padding-left: 20px;
			cursor: pointer;
		}
		.sortings span.active{
			background: url(/template/client/images-new/icon-btndown.png) 8px 4px no-repeat;
		}
		
		.breadcrumbs  a{
			font-size: 12px;
			font-weight: normal;
			color: #0099ff;
		}
		.breadcrumbs  span{
			font-weight: normal;
			color: #0099ff;
		}
		.breadcrumbs  a:hover{
			color: #ec1c24;
		}
		
		.product {
			font-size: 14px;
			margin-top: 10px;
			margin-right: 16px;
			clear: both;
			height: 160px;
		}
		.product-image {
			float: left;
			padding-right: 10px;
		}
		.product-price {
			width: 180px; 
			float: right;
			padding-right: 10px;
		}
		.product-price p {
			padding: 0;
			margin: 0;
			line-height: 22px;
		}
		.product-name {
			font-size: 16px;
		}
		.product-name a{
			font-size: 16px;
			color: #000;
			text-decoration: none;
		}
		.product-name a:hover{
			font-size: 16px;
			color: #000;
			text-decoration: underline;
		}
		.product-sku {
			font-size: 16px;
			padding-top: 20px;
			font-weight: bold;
		}
		.product-image  img{
			border: 1px solid gray;
		}
		.product .discount, .product-price .discount, .price_col .discount{
			font-size: 12px;
			color: white;
			padding: 0px 3px;
			background: #ec1c24;
		}
		.product .blue-label{
			color: #000099;
			font-weight: bold;
		}
		.product .top-price{
			color: #ec1c24;
			font-size: 16px;
			font-weight: bold;
		}
		
        article {
            padding:0 0px;
            margin:0 0px;
            min-height: 450px;
        }
        
        article p {
            margin:5px 0;
            padding:5px;
            text-align:justify;
            background:#fff;
        }
        
        article h1 {
            font: 1.5em bolder;
        }
        
        article h2 {
            font: 1.2em bolder;
        }
              
                    #s_left {
                    	float: left;
                    	width: 281px;
						z-index: 999;
                    	margin-left: -100%;
                        left:0;
                    	position: relative;
                    }
        
              
		#s_left .leftmenu {
			overflow:hidden;
			width: 271px;
			height: 606px;
			background: #c6cee8 url(/template/client/images-new/leftcolumn-bg.png) repeat-x;
			margin-left: 6px;
			padding-top: 6px;
			overflow-y: hidden;
			
    -webkit-box-shadow:0 3px 5px rgba(0, 0, 0, 0.7);
       -moz-box-shadow:0 3px 5px rgba(0, 0, 0, 0.7);
            box-shadow:0 3px 5px rgba(0, 0, 0, 0.7);
		}
              
		#s_left h1{
			font-size: 12px;
			margin-left: 22px;
			margin-top: 4px;
			color: #0099ff;
		}
		#s_right h1{
			font-size: 12px;
			margin-left: 22px;
			margin-top: 4px;
			color: #0099ff;
		}
		#s_right h2{
			font-size: 14px;
			margin-left: 22px;
			margin-top: 4px;
			color: #000099;
		}
		#s_right p{
			font-size: 11px;
			margin-left: 22px;
			margin-top: 4px;
			color: #000;
			line-height: 16px;
		}
		
		#s_left .lm-block{
			margin-left: 6px;
			margin-top: 5px;
		}
		#s_left .lm-caption{
			margin-left: 9px;
			margin-top: 3px;
			margin-bottom: 3px;
			font-size: 14px;
		}
		#s_left .lm-item{
			height: 17px;
			width: 249px;
			background: #fff url(/template/client/images-new/icon-left.png) 245px 3px no-repeat;
			cursor: pointer;
			padding-left: 9px;
			padding-top: 2px;
			font-size: 12px;
			color: #ec1c24;
		}
		
		#s_left .lm-title{
			display:block;
			float:left;
			max-width: 210px;
			overflow:hidden;
			white-space:nowrap;
			text-overflow: ellipsis;
		}
		#s_left .lm-item:hover{
			background: #b3b3b3 url(/template/client/images-new/icon-left.png) 245px 3px no-repeat;
		}
		#s_left .lm-item.active{
			background: #b3b3b3;
			z-index: 999;
		}
		#width-range {
			height: 2px;
			width: 196px;
			margin-top: 2px;
		}
		#height-range {
			height: 2px;
			width: 196px;
			margin-top: 2px;
		}
		#weight-range {
			height: 2px;
			width: 196px;
			margin-top: 2px;
		}
		#price-range {
			height: 2px;
			width: 196px;
			margin-top: 2px;
		}
		.range-input {
			width: 197px;
			margin-left: 30px;
			margin-bottom: 14px;
		}
		.range-input input {
			font-size: 10px;
			width: 50px;
			padding: 1px;
			height: 12px;
			float: right;
		}
		
		.range-input #price-hi, .range-input #price-low{
			width: 50x;
		}
		
		.range-input .caption {
			font-size: 10px;
			width: 85px;
			text-align: center;
			padding-bottom: 3px;
			padding-top: 3px;
			float: right;
		}
			  
			  
                    #s_right {
                    	float: left;
                    	width: 310px;
                    	margin-left: -310px;
                        right:0;
                    	position: relative;
                    	min-height: 450px;
                    } 
					
					#s_right.news{
						width: 260px;
						margin-left: -260px;
					}
			  
					#s_right .menuright {
						width: 295px;
						height: 606px;
						margin-right: 6px;
						padding-top: 6px;
						background: #eae8e7 url(/template/client/images-new/rightcolumn-bg.png) repeat-x;
                    } 
					
					
					
		#searchpopupbtn {
			display: none;
			position: absolute;
			z-index: 20;
			left: 530px;
			text-align: right;
			font-size: 12px;
			top: 91px;
			width: 110px;
			color:#000;
			height: 31px;
			background: url(/template/client/images-new/searchpopupbtn.png) 0 0 no-repeat;
			
		}	
		#searchpopupbtn  p{
			margin: 0;
			padding: 0;
			line-height: 14px;
			font-size: 12px;
			margin-right: 3px;
			padding-right: 3px;
		}
		#searchpopupbtn  a{
			color:#ec1c24;
		}
		.secondcolumn {
			display: none;
			position: absolute;
			z-index: 10;
			left: 270px;
			top: 28px;
			height: 606px;
			overflow-y: scroll;
			background: #b3b3b3;
			opacity: 0.95;
			margin-left: 6px;
			padding-right: 12px;
			min-width: 200px;
			padding-top: 6px;
			
    -webkit-box-shadow:0 3px 5px rgba(0, 0, 0, 0.7);
       -moz-box-shadow:0 3px 5px rgba(0, 0, 0, 0.7);
            box-shadow:0 3px 5px rgba(0, 0, 0, 0.7);
		}
		
		.secondcolumn  ul{
			list-style:none;
			padding-left: 10px;
		}
		.secondcolumn  ul li{
			padding-top: 2px;
		}
		.secondcolumn  ul.level1{
			padding-top: 6px;
		}
		.secondcolumn  a{
			margin: 0;
			padding: 0;
			padding-bottom: 4px;
			line-height: 16px;
			text-decoration:none;
			color: #000;
			font-size: 12px;
		}
		.secondcolumn  ul li ul{
			display:none;
		}
        
		#shadow {
			display: block;
			position: absolute;
			z-index: 10;
			left: 6px;
			top: 191px;
			width: 271px;
			height: 516px;
			z-index: 9999;
			background: url(/template/client/images-new/shadow-back.png);
			text-align:center;
		}
		
		#full-shadow {
			display: block;
			position: absolute;
			z-index: 10;
			left: 6px;
			top: 92px;
			width: 271px;
			height: 613px;
			z-index: 9999;
			background: url(/template/client/images-new/shadow-back.png);
			text-align:center;
		}
		
		.shadow-btn{
			position: relative;
			top:32px;
			margin:0 auto;
			text-decoration:none;
			background: #7f8fa8;
			padding:5px 10px;
			box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 5px 0px;
			color:black;
		}
		
		.shadow-btn:hover{
			background:#c6cee8;
		}
		
.submit-btn{
width:100px;
margin-bottom:10px;
margin-top:15px;
padding:5px 10px;
box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 5px 0px;

background:#c6cee8;
text-decoration:none;
color:black;
}
 
.submit-btn:hover {
background: #7f8fa8;
}

.clear_filter{
	width:100%;
	text-align:right;
}

.clear_filter .red{
	color: #ec1c24;
}

/***********************************
*Cart
***********************************/

.cart{
	position:relative;
	padding:10px 0;
}

.cart_products{
	position:relative;
}

.cart input{
	width:100%;
	height:23px;
	margin:5px 0;
	background:#CCCCFF;
	color:#000000;
	font-size:12px;
	border:1px solid #CCCCFF;
}

.cart input::-webkit-input-placeholder {
	font-weight:bold;
	color:#000000;
}
.cart input::-moz-placeholder{
	font-weight:bold;
	color:#000000;
}/* Firefox 19+ */
.cart input:-moz-placeholder {
	font-weight:bold;
	color:#000000;
}/* Firefox 18- */
.cart input:-ms-input-placeholder {
	font-weight:bold;
	color:#000000;
}

.cart-table{
	width:99%;
	padding:0 0 0 390px;
	background: url(../images-new/cart_background.png) repeat-x top, 
                url(../images-new/cart_background.png) repeat-x bottom;
	font-weight:bold;
}

.cart-table .col_1{
	width:3%;
	text-align:left;
}

.cart-table .col_2{
	width:45%;
	text-align:left;
}

.cart-table .col_3{
	width:16%;
	text-align:center;
}

.cart-table .col_4{
	width:12%;
	text-align:left;
}

.cart-table .col_5{
	width:12%;
	text-align:left;
}

.cart-table .col_6{
	width:12%;
	text-align:center;
}

.cart-table .cart-delete{
	text-decoration:none;
	color:#cc0000;
}

.cart-table thead, .cart-table .counter{
	color:#000099;
}

.cart-table thead th{
	padding:5px 0;
}

.cart-table th.col_2{
text-align:center;
}

.cart-table td{
	padding:2px 0;
}

.cart-table input{
	width:40%;
}

.cart-table_name{
	color:#000000;
	text-decoration:none;
}

.cart-table .total{
	color:#cc0000;
}

.cart-order_title{
	width:98%;
}

.order-button{
	padding:3px 4px 5px 4px;
	background:#cc0000;
	border:none;
	border-radius:3px;
	font-weight:bold;
	color:#ffffff;
}

.cart-collumn-1{
	position:relative;
	float:left;
	width:23%;
	margin-right:2%;
}

.cart-collumn-2{	
	position:relative;
	float:left;
	width:50%;
}

.cart input.frame-input_error{
	border:1px solid red;
}

/*************************************
* News
*************************************/

div.news{
	margin:8px 0;
}

.aside_news_header{
	margin:5px 25px 25px 25px;
	color:#000099;
	font-weight:bold;
}

.aside-news-item{
	margin:5px 25px;
}

.aside-news-item .item_date{
	font-size:12px;
	color:#000099;
}

.news-header{
	padding:4px 0;
}

.news-header .m_logo{
	float:left;
	width:140px;
	height:61px;
}

.news-header .m_logo img{
	width:140px;
	height:61px;
}

.news-header .m_title{
	margin:0 0 0 20px;
	padding:18px 0 0 0;
	float:left;
	color:#000099;
	font-weight:bold;
}

.news-content{

}

.news-item{
	margin:0 0 10px 0;
}

.item_date{
	margin:5px 0;
	color:#0000CC;
	font-size:14px;
	font-weight:bold;
}

.item_title{
	margin:5px 0;
	font-size:14px;
}

.item_title a{
	color:#0000CC;
	text-decoration:none;
	font-weight:bold;
}

.item_text{
	font-size:12px;
}

.item_text p{
	padding:5px 0;
}

#s_right .manufacturers{
	margin:30px 20px 0 20px;
	padding:10px 20px;
	border:2px solid #7E7E7B;
}

#s_right .manufacturers ul{
	list-style:none;
	width:174px;
	height:76px;
}

#s_right .manufacturers ul img{
	width:174px;
	height:76px;
	border:1px solid #7E7E7B;
}

/********************************************
* СТраница продукта
********************************************/

.product-info{
	margin:12px 0 0 0;
}

#gallery{
	position:relative;
	float:left;
	margin:0 20px 10px 0;
	width:180px;
}

#gallery #box{
	width:180px;
	margin:0 0 10px 0;
}

#gallery #box img{
	width:178px;
	border:1px solid #b1b1b1;
}

.thumbs {
	width:180px;
	position: relative;
	margin: 0;
	background:transperent;
	z-index:50;
}

.thumbs-list {
	width:180px;
	position: relative;
	margin: 0;
	overflow:hidden;
}

 
.thumb{
	width: 57px;
	margin:0 3px 0 0;
	padding:0;
	text-align:center;
	float:left;
}

.thumb.left{
	margin:0 0 0 0;
}

.thumb  img{
	margin:0;
	width: 57px;
	height: 58px;
	border:1px solid #b1b1b1;
}

.product_content{
	margin-left:-190px;
	padding:0 0 0 220px;
	position:relative;
	float:left;
	width: -moz-calc(100% - 230px);
    width: -webkit-calc(100% - 230px);
    width: calc(100% - 230px);
}

.item-description{
	width: -moz-calc(100% - 260px);
    width: -webkit-calc(100% - 260px);
    width: calc(100% - 260px);
	position:relative;
	float:left;
}

.item-buy-info{
	width:230px;
	position:relative;
	float:left;
}

.item-shortname{
	font-weight:bold;
}

/*********************************************
* Аккордеон в карточке товара
**********************************************/

.noactive{
	display:none;
}

.accordeon{
	margin:0 10px 0 0;
	font-size:14px;
}

.accordeon-head, .accordeon-head-1{
	cursor:pointer;
	color:#000099;
	height:26px;
	font-weight:bold;
	background:#CCCCCC;
}

.accordeon-body{
	background:#E8E8E8;
}

.accordeon .list{
	display:inline-block;
	width:20px;
	font-size:16px;
	color:#000;
	text-align:center;
}

.accordeon-body .check_col{
	width:30px;
	float:left;
	text-align:center;
}

.accordeon-body .img_col{
	width:157px;
	float:left;
	text-align:left;
}

.accordeon-body .img_col img{
	width:95%;
	border:1px solid black;
}

.accordeon-body .description_col{
	width: -moz-calc(100% - 450px);
    width: -webkit-calc(100% - 450px);
    width: calc(100% - 450px);
	float:left;
	padding-left:15px;
}

.accordeon-body .price_col{
	width:210px;
	float:left;
}


.accordeon-item{
	padding:10px 0;
}

.price_col div{
	margin:0 0 10px 0;
}

.precart_to_cart{
	display:inline-block;
	float:right;
	background:#FF0000;
	color:#fff;
	font-size:12px;
	height:20px;
	padding:4px 20px 2px 5px;
	text-decoration:none;
}

.pre_cart_price{
	display:inline-block;
	float:right;
	border:1px solid #949494;
	background:#fff;
	height:18px;
	padding:2px 10px 4px 10px;
}

.s_price{
	width:30%;
	float:left;
}

.s_qty{
	width:40%;
	float:left;
}

.s_qty a{
	width:20%;
	text-align:center;
	font-size:14px;
	text-decoration:none;
	color:#FF0000;
}

.s_qty .qty{
	width:60%;
}

.s_total{
	width:30%;
	float:left;
}


/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	border: 0px solid #888;
	margin:-4px;	/* Set this to minus the border thickness. */
	background-color:#fff;	
	cursor:move;		
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
	border:0px solid #ccc;
	position: absolute;
	left: -300px;
	top: 0;
	overflow:hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;
}



.cloud-zoom-big{
	border: 1px solid black;
    width: 430px !important;
    height: 430px !important;
	background-color: #fff;
	background-repeat: no-repeat;
}

.img_col {padding-right: 30px;}
