/* --- EASYDROPDOWN DEFAULT THEME --- */

/* PREFIXED CSS */

.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.dropdown{
	position: relative;
	width: 100%;
	border: none;
	cursor: pointer;
	background: #CCCCFF;
	color:#000000;
	font-size:10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.dropdown.open{
	z-index: 2;
}

.dropdown:hover{
	/*box-shadow: 0 0 5px rgba(0,0,0,.15);*/
}

.dropdown.focus{
	/*box-shadow: 0 0 5px rgba(51,102,248,.4);*/
}

/* CARAT */

.dropdown .carat{
	position: absolute;
	right: 12px;
	top: 60%;
	margin-top: -4px;
	border: 4px solid transparent;
	border-top: 6px solid #0100A2;
}

.dropdown.open .carat{
	top: 65%;
	margin-top: -10px;
	border-top: 4px solid transparent;
	border-bottom: 6px solid #0100A2;
}

.dropdown.disabled .carat{
	border-top-color: #999;
}

/* OLD SELECT (HIDDEN) */

.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch .old{
	width: 100%;
	height: 100%;
}

.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */ 

.dropdown .selected,
.dropdown li{
	display: block;
	font-size: 11px;
	line-height: 1;
	color: #000;
	padding: 3px 2px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight:normal;
	
}

.dropdown.disabled .selected{
	color: #CC0000;
}

/*.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 30px;
	background:#CCCCFF;
	border-radius: 0 2px 2px 0;
	/*box-shadow: inset -15px 0 25px -20px #fff;
}*/

/* DROP DOWN WRAPPER */

.dropdown div{
	position: absolute;
	height: 0;
	left: -5px;
	right: 0px;
	top: 100%;
	margin-top: 0px;
	background: #E5E5E5;
	overflow: hidden;
	opacity: 0;
}

/* Height is adjusted by JS on open */

.dropdown.open div{
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	box-shadow: inset 0 -50px 30px -35px #fff;
}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}

.dropdown.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li{
	list-style: none;
	padding: 5px 5px;
}

/* .focus class is also added on hover */

.dropdown li.focus{
	position: relative;
	z-index: 3;
	color: #cc0000;
}

.dropdown li.active{
	color:#cc0000;
}


/*metro style*/

/* --- EASYmetro METRO THEME --- */

/* PREFIXED CSS */

.metro,
.metro div,
.metro li,
.metro div::after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.metro .selected::after,
.metro.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.metro{
	position: relative;
	top:5px;
	width: 100%;
	border-left: 2px solid #000000;
	border-right: 2px solid #000000;
	cursor: pointer;
	background: transperent;
	color:#000000;
	font-size:10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.metro.open{
	z-index: 2;
}

.metro:hover{
	/*box-shadow: 0 0 5px rgba(0,0,0,.15);*/
}

.metro.focus{
	/*box-shadow: 0 0 5px rgba(51,102,248,.4);*/
}

/* CARAT */

.metro .carat{
	position: absolute;
	right: 12px;
	top: 60%;
	margin-top: -4px;
	border: 4px solid transparent;
	border-top: 6px solid #FA0003;
}

.metro.open .carat{
	top: 65%;
	margin-top: -10px;
	border-top: 4px solid transparent;
	border-bottom: 6px solid #FA0003;
}

.metro.disabled .carat{
	border-top-color: #999;
}

/* OLD SELECT (HIDDEN) */

.metro .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.metro select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.metro.touch .old{
	width: 100%;
	height: 100%;
}

.metro.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */ 

.metro .selected,
.metro li{
	display: block;
	font-size: 11px;
	line-height: 1;
	color: #FA0003;
	padding: 3px 2px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight:normal;
	
}

.metro.disabled .selected{
	color: #CC0000;
}

/*.metro .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 30px;
	background:#CCCCFF;
	border-radius: 0 2px 2px 0;
	/*box-shadow: inset -15px 0 25px -20px #fff;
}*/

/* DROP DOWN WRAPPER */

.metro div{
	position: absolute;
	height: 0;
	left:0;
	right: 0px;
	top: 100%;
	margin-top: 0px;
	background: #B4ABAC;
	overflow: hidden;
	opacity: 0;
}

/* Height is adjusted by JS on open */

.metro.open div{
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.metro.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	box-shadow: inset 0 -50px 30px -35px #fff;
}

.metro.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.metro ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}

.metro.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.metro li{
	list-style: none;
	padding: 5px 5px;
}

/* .focus class is also added on hover */

.metro li.focus{
	position: relative;
	z-index: 3;
	color: #cc0000;
}

.metro li.active{
	color:#cc0000;
}