* {
	margin:0;
	padding:0;
	font-family:'Tahoma', sans-serif;
	box-sizing:border-box;
}

body {
	height:100%;
	width:100%;
	/*min-width:1260px;*/
	font-family: OpenSansBold, Tahoma;
}

main {
	overflow:hidden;
	padding-top:5px;
}

.wrapper {
	/*width:1583px;*/
	margin:0 auto;
}

.container {
	/*width: 1580px;*/
	margin:0 auto;
	display:-webkit-box;
	display:flex;
	margin-left:10px;
}

.clearfix{
	margin:0;
	padding:0;
}
 
.clearfix:after {
	content:" ";
	display:block;
	height:0;
	clear:both;
	margin:0;
	padding:0;
	font-size:0;
}

.blue {
	float:left;
	font-size: 14px;
	color: #0066ff;
	text-decoration: underline;
}

.bold-text{
	text-decoration:uppercase;
}

/******************header*****************/

.maxw {
	margin:0 auto;
}
	
header {
   	width:100%;
   	height:60px;
	background:url(../images/header-gradient.png) repeat-x;
	font-family:OpenSansBold, Tahoma;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.7);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.7);
	margin-bottom:5px;
}
	
header .logo {
	margin-left:22px;
	margin-top:5px;
}
		
header .catalog-btn {
	position:absolute;
	top:7px;
	left:290px;
	padding-left:20px;
	font-size:12px;
	font-weight:bold;
	color:#3399ff;
	height:17px;
	background:url(../images/icon-shop.png) 0px 1px no-repeat;
}

header .catalog-btn  a{
	font-size:11px;
	font-weight:bold;
	color:#C20000;
	margin-top:2px;
	margin-bottom:2px;
	text-decoration: underline;;
}

header .catalog-btn  a:hover{
	color:#C20000;
}

header .top-menu {
	position: absolute;
	top:34px;
	left:290px;
	list-style:none;
}

header .right-contacts {
	position:absolute;
	right:0;
	top:10px;
	list-style:none;
}

header .minicart {
	position: absolute;
	right: 24px;
	top: 33px;
	font-size: 14px;
}

header .minicart  a{
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 3px;
	padding-left: 20px;
	background: url(/template/client/images-new/icon-cart.png) 0 0 no-repeat;
	color: black;
}

.right-contacts  ul{
	list-style:none;
	font-size:14px;
}

.right-contacts  li{
	float:left;
	margin-right:12px;
	padding-right:12px;
	line-height:12px;
	padding-bottom:2px;
	border-right:2px solid #000;
}
		
.right-contacts li.right {
	border-right: none;
}
		
.right-contacts li.phone {
	background: url(../images/icon-phone.png) 0px 0px no-repeat;
	padding-left: 16px;
}

.top-menu{
	position:relative;
}

.top-menu  ul{
	position:relative;
	list-style:none;
}

.top-menu  li{
	float:left;
	margin-right:20px;
	padding-right:20px;
	line-height:14px;
	padding-bottom:2px;
	border-right:2px solid #000;
}

.top-menu li.right {
	border-right:none;
}

.top-menu  li a{
	float:left;
	font-size:15px;
	color:#000;
	font-weight:bold;
	text-decoration:none;
}

.top-menu  li a:hover,.top-menu li.current a{
	color:#ec1c24;
}

.top-menu li ul{
	display:none;
	padding:0;
	position:absolute;
	top:16px;
	margin-left:-22px;
	background:#c8c8c8;
	box-shadow:2px 2px 10px rgba(0,0,0,0.5);
	z-index:110000;
}

.top-menu li.first ul{
	margin-left:0px;
}

.top-menu  li:hover > ul{
	display:block;
}

.top-menu li ul li{
	padding:7px 8px;
	border:none;
	clear:both;
}

.top-menu li ul li a:first-child{
	color:#000;
	font-weight:normal;
}

.top-menu li ul li a:hover{
	color:#ec1c24;
}

/*****************************************/

.section {
	width:100%;
	padding:6px 0 0 0;/*!?!?!?!?!?!?!?!?*/
	position:relative;
}


/********************leftcol**********************/

#s_left {
	position: relative;
	float:left;
    width:281px;
	z-index:999;
	margin-left: -100%;
	left:0;
}

#s_left h1{
	font-size: 12px;
	line-height:14px;
	margin:4px 0 7px 22px;
	color: #0099ff;
	font-weight:bold;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

#s_left .leftmenu {
	background: url(../images/leftcolumn-bg.png) repeat;
	margin-left: 6px;
	padding-top: 15px;
	-webkit-box-shadow:0 3px 5px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:0 3px 5px rgba(0, 0, 0, 0.7);
	box-shadow:0 3px 5px rgba(0, 0, 0, 0.7);
	overflow:hidden;
}

.leftmenu .mCSB_scrollTools{

}

.leftmenu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	margin-left: 3px;
	background:#919295;
	width: 1px !important;
}
.leftmenu .mCSB_scrollTools .mCSB_draggerRail{
	margin-left: 3px;
	background:#F1F3F9;
	width: 1px !important;
}

.leftmenu .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.leftmenu .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:#48484A;
	/*filter:"alpha(opacity=0)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
.leftmenu .mCSB_container{
}

.main-item:focus{
  outline:none;
}

.sub-menu {
	margin-top:-5px;
	display: none;
}

.sub-menu.active{
	display:block;
}

.main-item {
	position: relative;
	display: inline-block;
	margin-bottom: 7px;
	font-size: 14px;
	padding-left: 15px;
	border:none;
	outline:none;
}

.main-item:after {
  content: "";
  position: absolute;
  background: url(../images/after.png);
  height: 6px;
  width: 9px;
  background-repeat: no-repeat;
  right: -13px;
  top: 8px;
}

.main-item.active:after {
  content: "";
  position: absolute;
  background: url(../images/triangal.png);
  height: 6px;
  width: 13px;
  background-repeat: no-repeat;
  right: -13px;
  top: 7px;
}

.main-item.down-item {
	color:red;
}

.menu-pic{
	position: relative;
	display:block;
	float:left;
	width:24px;
	height:21px;
	margin-right:10px;
	text-align:center;
}

.menu-text{
	position: relative;
	display:block;
	float:left;
	padding-top:2px;
	
}

.manufacturer-categories-list {
	height: 74px;
}
.sub-menu li {
	font-size: 14px;
	margin-bottom: 10px;
	padding-left: 60px;
	position: relative;
}

.sub-menu li:before {
	content: ".";
	position: absolute;
	color: #0099FF;
	left: 48px;
	top: -11px;
	font-size: 22px;
	font-size:arial;
}

.sub-menu a.active{
	color:red;
}

/**************mainwrap**************/

.mainwrap {
	width: 100%;
	float: left;
	overflow: hidden;
}

main {
	padding: 0 310px 0 290px;
	min-height: 450px;
	margin:0;
}

main.contacts{
	padding: 20px 0 0 290px;
	min-height: 450px;
	margin:0;
}

.contacts .contact_item{
	position:relative;
	margin-bottom:20px;
}

.contacts .contact_description{
	position:relative;
	float:left;
	width: -moz-calc(100% - 640px);
    width: -webkit-calc(100% - 640px);
    width: calc(100% - 640px);
}

.contacts .map{
	position:relative;
	float:left;
	width:300px;
	margin-right:20px;
}

.contacts .ya_map{
	position:relative;
	float:left;
	width:300px;
	margin-right:20px;
}

/*************breadcrumbs************/

.breadcrumbs {
	position:relative;
	background: url(../images/house.png) 0 0 no-repeat;
	font-size: 12px;
	padding-top:4px;
	padding-left: 22px;
	margin-top: 1px;
	width: 100%;
	height:18px;
	font-weight: normal;
	color: #000099;
}

.main-content{
	width:100%;
	margin-top:6px;
}

.slider {
	width: 176px;
	float: left;
	border: none;
	margin-right:5px;
	position: relative;
}

.slider.inventory-slider{
	margin-left:22px;
}

.for-select{
	position: absolute;
	width: 156px;
	background: #D1C8FF;
	z-index: 20;
}

.logo-column{
	/*width: 156px;*/
	margin-top:10px;
}

.logo-column img.active{
	border:1px solid red;
}

.some10{
  padding-top: 15px;
  width: 156px;
}

.pic-block {
	width: 156px;
	margin-bottom: 13px;
}

.logotype {
	width: 146px;
}
.content{
	overflow-y:scroll;
}

/*******catalog*******/

.catalog{
	width: -moz-calc(100% - 181px);
    width: -webkit-calc(100% - 181px);
    width: calc(100% - 181px);
}

.contacts{
	width:100%;
}

#main_page .catalog, #inventory .catalog, #brightbild .catalog{
	margin-top:25px;
	padding:0;
	width:100%;
}

#vendor .catalog{
	width: -moz-calc(100% - 181px);
    width: -webkit-calc(100% - 181px);
    width: calc(100% - 181px);
}

.main_description{
	font-family:tahoma,geneva,sans-serif;
	font-size:12px;
	color:rgb(0, 0, 160);
	line-height:16px;
	text-align:center;
	font-weight:bold;
}

.bb_description h3{
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
	color: #0000a0;
}
.bb_description ul{
	margin-bottom: 10px;
}
.bb_description ul li{
	padding-bottom: 5px;
	padding-left: 10px;
	position: relative;
}

.bb_description ul li:before {
	content: ".";
	position: absolute;
	color: #0000a0;
	left: 0px;
	top: -11px;
	font-size: 22px;
	font-size:arial;
}

.vendors_description{
	color: #0000A0;
	font-size:12px;
	font-weight:bold;
	text-align:center;
}



.inventory_item{
	margin-bottom:15px;
}

#by_category .catalog{
	padding:0;
	width:100%;
}

#main_page .manufacturer-icon{
	display:inline-block;
	/*float:left;*/
	width:156px;
	height:72px;
	margin:0 10px 0 10px;
	text-align:center;
	border:none;
	vertical-align: top;
}

#main_page .manufacturer{
	margin-top:15px;
	width:100%;
}


#main_page .catalog h1{
	margin:0 0 10px 0;
	padding:0;
	line-height:12px;
	color: #0000A0;
	font-size:12px;
	font-weight:bold;
	text-align:center;
}

#main_page .catalog p{
}

.manufacturer-select{
	width: 156px;
	margin-right:15px;
	float:left;
}

.manufacturer-title{
	padding:0;
	margin:0 0 0 2px;
	font-weight:bold;
	color: #000099;
	font-size: 12px;
}

.manufacturers{
	width:100%;
	margin-top:10px;
}

.manufacturer-item{
	position:relative;
	float:left;
	width:100%;
	margin:0 0;
	padding:15px 0;
	border-bottom:1px dotted #C2C2C2;
}

.manufacturer-logo{
	width:156px;
	margin-right:15px;
	float:left;
	border:1px solid #c2c2c2;
}

.manufacturer-logo:hover{
	border:1px solid red;
}

.manufacturer-logo a{

}

.manufacturer-categories-list{
	float:left;
	width: -moz-calc(100% - 171px);
    width: -webkit-calc(100% - 171px);
    width: calc(100% - 171px);
	overflow:hidden;
}

.manufacturer-categories-list ul{
	text-align:left;
	margin:2px 0;
}

.manufacturer-categories-list ul .manu_col{
	/*width:151px;*/
	float:left;
	margin-right:25px;
}

.manufacturer-categories-list li {
	font-size: 11px;
	margin-bottom: 7px;
	padding-left: 12px;
	position: relative;
	white-space:nowrap;
}

.manufacturer-categories-list li.active {
	font-weight:bold;
}

.manufacturer-categories-list li:before {
	content: ".";
	position: absolute;
	color: #0099FF;
	left: 0;
	top: -9px;
	font-size: 18px;
	font-size:arial;
}

.manufacturer-categories-list li a:hover{
	color:red;
}

.list-row .mCSB_container{
	margin-bottom:0px;
}

.list-row .mCSB_scrollTools{
	display:none;
	visibility:hidden;
}

.catalog .title {
  margin-top: 0px;
  color: #000099;
  font-size: 12px;
  font-weight:bold;
  margin-bottom: 8px;
}

.catalog-head {
  overflow: hidden;
}

.head-block1 {
	vertical-align:middle;
	width:20%;
	/*margin-right: 50px;*/
}

.head-block1 img{
	width:150px;
}

.head-block1 a{
	width:150px;
}

.head-block2{
	vertical-align: middle !important;
	text-align: right;
	width:20%;
}

.head-block2 p{
	margin:5px 0;
	font-size:13px;
	font-weight:bold;
}

.cat-img{
	POSITION:RELATIVE;
	width:60%;
	padding-right:10px;
}

.cat-img img{
	width:140px;
}

.img-row {
	position:absolute;
	display:inline-block;
	overflow: hidden;
	padding-left:10px;
	width: 100%;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.img-row  ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	white-space:nowrap;
	/*width:10000px;*/
}

.img-row li{
	display:inline-block;
	margin: 0;
	width:140px;
}

.img-row .mCSB_container{
	margin-bottom:0px;
}

.img-row .mCSB_scrollTools{
	display:none;
	visibility:hidden;
}

.cat-img a{
	display: -moz-box;
	/*display:inline-block;*/
	/*width:150px;*/
}

.catalog-menu {
	position:relative;
	width:100%;
	line-height: 18px;
	margin-bottom: 10px;
}

.catalog-menu p {
	font-size: 12px;
}
.catalog-menu p a {
	text-decoration: underline;
	color: #0066ff;
}

.navigation-mini {
	width:100%;
	background: linear-gradient(to top, #b8ada9 5%, #cfe5f1 25%, #cfe5f1 51%, #918e8f 100%);
	text-align: center;
	line-height: 22px;
	padding-bottom: 5px;
	display: inline-block;
	/*white-space:nowrap;*/
}

.navigation-mini.fixed {
 position: fixed;
 top: 10px; /*здесь указываем отступ сверху*/
 z-index: 800; /*устанавливаем блок поверх всех элементов на странице*/
}

.navigation-mini a {
	font-size: 13px;
	border-right: 2px solid black;
	padding-right: 3px;
	padding-left: 0px;
	white-space:nowrap;
	font-weight: bold;
}
@media only screen and (max-width: 1400px)
{
.navigation-mini a {
	border-right: 1px solid black;
	font-size: 11px;
}
}
@media only screen and (max-width: 1300px)
{
.navigation-mini a {
	border-right: 1px solid black;
	padding-right: 0px;
	font-size: 9px;
}
}
.navigation-mini li-:last-child {
	padding-right: 0;
}

.navigation-mini a:hover,
.navigation-mini a.active{
	color: #cc0000;
}

.navigation-mini .main-a a {
	color: #cc0000 !important;
	border: none;
	padding: 0px /*92px*/;
	position: relative;
}

.main-a-0{
	float:left;
	width:35%;
}

.main-a-3{
	width:35%;
}

.main-a {
	display: inline-block;
	font-size: 14px;
	width: 30%;
	position: relative;
}

.main-a .metro .selected{
	font-size: 12px; !important;
}

.catalog .navigation-mini {
	background: linear-gradient(to top, #b8ada9 16%, #cfe5f1 55%, #cfe5f1 79%, #918e8f 100%);
}

.navigation-mini .del {
	border-right: none;
}

.navigation-mini .main-a-2 {
	color: #3399ff;
	float: right;
	border: none;
	position: relative;
	padding-right: 23px;
	top: 2px;
	font-size: 11px;
	text-decoration: underline;
}

.main-a-2 a:after {
	content: "";
	position: absolute;
	background: url(../images/mini.png);
	width: 12px;
	height: 12px;
	top: 5px;
	right: -2px;
	background-repeat: no-repeat;
}

.point {
	position: relative;
	margin-right:5px;
	padding-left: 10px;
	font-size: 12px;
}

.point:before {
	content: "";
	position: absolute;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background: blue;
	background-repeat: no-repeat;
	top: 8px;
	left: 0;
}

.all-items{
	width:100%;
}

.items {
	width:100%;
	overflow: hidden;
	position: relative;
	margin-top: 13px;
	border-bottom: 1px solid black;
	padding-bottom: 11px;
}

.item-pic {
	position:relative;
	float: left;
	width:170px;
	margin-right: 10px;
}

.item-box {
	position:relative;
	float:left;
	width: -moz-calc(100% - 185px);
    width: -webkit-calc(100% - 185px);
    width: calc(100% - 185px);
	line-height: 18px;
	overflow:hidden;
}

.box-title{
	width:100%;
}

.pdf {
	float:left;
	position: relative;
}

.pdf:after {
	content: "";
	position: absolute;
	background: url(../images/pdf.png);
	width: 16px;
	height: 18px;
	right: -25px;
	top: 0px;
	background-repeat: no-repeat;
}

.xls {
	float:left;
	position: relative;
}

.xls:after {
	content: "";
	position: absolute;
	background: url(../images/xls.png);
	width: 16px;
	height: 18px;
	right: -25px;
	top: 0px;
	background-repeat: no-repeat;
}

.doc {
	float:left;
	position: relative;
}

.doc:after {
	content: "";
	position: absolute;
	background: url(../images/txt.png);
	width: 16px;
	height: 18px;
	right: -25px;
	top: 0px;
	background-repeat: no-repeat;
}

.folder {
	float:left;
	position: relative;
}

.folder:after {
	content: "";
	position: absolute;
	background: url(../images/folder.jpg);
	width: 16px;
	height: 18px;
	right: -25px;
	top: 0px;
	background-repeat: no-repeat;
}

.item-menu{
	position:relative;
	float:left;
	height: 72px; 
	width:100%;
}

#catalog_select .point-2 {
	position: relative;
	padding-left: 15px;
	font-size: 12px;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background: blue;
}

#catalog_select.point:before {
	content: "";
	position: absolute;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background: blue;
	background-repeat: no-repeat;
	top: 7px;
	left: 5px;
}

.catalog-row {
	position: relative;
	display:inline-block;
	overflow: hidden;
	width: 100%;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.catalog-row  ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	white-space:nowrap;
	/*width:10000px;*/
}

.catalog-row li{
	display:inline-block;
	margin: 0;
	width:80px;
}

.catalog-row li img, .item-pic img{
	border: 1px solid #ccc;
}

.catalog-row .mCSB_container{
	margin-bottom:0px;
}

.catalog-row .mCSB_scrollTools{
	display:none;
	visibility:hidden;
}

/***********rightcol**********/

#s_right {
	position: relative;
	float: right;
    width: 310px;
	margin-left: -310px;
	right:0;
	min-height: 450px;
} 

#s_right .rightmenu {
	width: 295px;
	height: 606px;
	margin-right: 6px;
	padding-top: 12px;
	background: #eae8e7 url(../images/rightcolumn-bg.png) repeat-x;
	overflow:hidden;
} 
					
#s_right h1{
	font-size: 12px;
	margin:4px 0 9px 22px;
	color: #0099ff;
	font-weight:bold;
}

#s_right h2{
	font-size: 12px;
	margin-left: 22px;
	margin-top: 6px;
	color: #0000C8;
	font-weight:bold;
}

#s_right .item_text{
	font-size: 11px;
	margin-left: 22px;
	margin-top: 9px;
	color: #000;
	line-height: 16px;
}

#s_right .item_text .news_date{
	display:inline-block;
	float:left;
	margin-right:3px;
	color: #0000C8;
	font-weight:bold;
}
#s_right .item_text a{
	color: #0000C8;
	text-decoration: underline;
}

/****scrollbar****/

#slider-scroll .mCustomScrollbar{
	margin-top:7px;
	height: 1130px;
	position: relative;
}

#slider-scroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	margin-left: 3px;
	background: red !important;
	width: 1px !important;
}
#slider-scroll .mCSB_scrollTools .mCSB_draggerRail{
	margin-left: 3px;
	background: #009CD3 !important;
	width: 1px !important;
}
#slider-scroll .mCSB_container{
}

.seo_description {
margin-top: 10px;
margin-bottom: 10px;
font-size: 11px;
}
.seo_description h2{
font-size: 13px;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {

	#s_right {
		display:none;
	}
	
	main {
        padding: 0 0 0 290px;
    }
		
	main.cart {
		padding: 0 0 0 290px;
	}
		
	main.news {
		padding: 0 0 0 290px;
	}
	
	.catalog{
	width: 100%;
}
}