html, body {
height: 100%;
width: 100%;
margin: 0px;
padding: 0px;
background:#efefef url(../img/gray_jean.png);
}

#page{
	top:20px;
	min-width:1024px;
}

/* Верхнее меню */
#menu{
	position:fixed;
	width:100%;
	min-width:1024px;
	padding:0 0.83333333333333%;
	top:0;
	left:0;
}

.menu{
	border-top:none;
	border-radius:0 0 15px 15px;
}

.menu li a{
	padding:15px 15px;
}

.menu li.r-item a{
	border-radius:0 0 15px 0;
}

.menu li.l-item a{
	border-radius:0 0 0 15px;
}

#left-menu{
padding:0;
}

#left-menu ul{
margin-bottom:0;
padding:0;
}

#left-menu li{
margin-top:5px;
margin-bottom:5px;
padding-top:0px;
padding-bottom:0px;
}

#left-menu ul ul.noactive{
display:none;
}

#left-menu ul ul.active{
display:block;
}
  
#left-menu ul a {
text-decoration:none;
}

#left-menu .icon-sort-down{
position:relative;
top:-2px;
}

header{
background:#fff;
}

.header{
border:1px solid red;
margin:0;
padding:0;
}

#page {
position:relative;
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 0 -100px 0;
z-index:1;
}

.back{
background:#fff;
border-radius:5px;
padding-left:  0.83333333333333%;
padding-right:  0.83333333333333%;
padding-top:0.2em;
padding-bottom:0.2em;
}

#wrap {
position:relative;
padding-bottom: 100px;
z-index:1;
}
7
#left_col, #right_col{
padding-bottom:1em;
}

#left_col h5{
margin-bottom:0;
}

#right_col td{
border-bottom:1px dotted #e5e5e5;
}

footer {
position:relative;
height: 100px;
margin-top: -100px;
background:#4598ef url(../img/gplaypattern.png) repeat;
z-index:2;
}

#footer{
padding:0 0.83333333333333%;
}

.border{
border:1px solid red;
}

#new-page{
display:none;

}

.pop-up{
width:500px;
}

.tree, .tree ul {
list-style-type:none;
list-style-image:url('../img/option_2.png');
}

.tree .down, .tree  .down-1{
list-style-image:url('../img/option_1.png');
}

.option-1{
background:url('../img/option_2.png') no-repeat 5px;
padding:3px 0 3px 25px;
}

.option-1-ch{
background:url('../img/option_1.png') no-repeat 5px;
padding:3px 0 3px 25px;
}

.option-2{
background:url('../img/option_2.png') no-repeat 25px;
padding:3px 0 3px 45px;
}

.option-2-ch{
background:url('../img/option_1.png') no-repeat 25px;
padding:3px 0 3px 45px;
}

.option-3{
background:url('../img/option_2.png') no-repeat 45px;
padding:3px 0 3px 65px;
}

.option-3-ch{
background:url('../img/option_1.png') no-repeat 45px;
padding:3px 0 3px 65px;
}

.grey {
background:#f5f5f5;
}

.sortable tr{
cursor:move;
}

.noactive{
display:none;
}

/*Menu style*/
.menu-items ul{
margin:0 0 0 25px;
padding:0;
}

.menu-items li{
cursor:move;
}

.menu-items, .menu-items ul {
list-style-type:none;
list-style-image:url('../img/option_2.png');
}

.menu-items .down, .menu-items .down-1{
list-style-image:url('../img/option_1.png');
}

#field-link{
display:none;
}

