@charset "UTF-8";
/* ==========================================================================
 * page-cart
 * ========================================================================== */

.page-cart{

	&__products{
	  margin: 0 0 30px;
	}

	&__table{
	  margin: 0 0 20px;
	}

	&__total{
	  
	}

	&__order{
	  width: 440px;
	  padding: 0 20px;
	  margin: 0 auto 40px;
	}


}

.cart-table{
	width: 100%;
	
	tr{
		border-top: 1px solid #eee;
		&:first-child{
			border: none;
		}
	}
	th{
		padding: 15px;
		&:last-child{
			width: 130px;
		}	
	}
	td{
		padding: 15px;
	}

	&__price{
	  text-align: center;
	  span{
	  	font-size: 20px;
	  	font-weight: 600;
	  }
	}
}

.cart-amount{
	text-align: center; 

	&__button{
	  padding: 2px;
	  width: 30px;
	}

	&__input{
	  width: 40px;
	  padding: 7px 0 7px;
	  text-align: center;
	}
}

.cart-order{

	&__extra-link{
		color: #333;
		display: inline-block;
	  border-bottom: 1px dotted;
	  margin: 0 0 10px 0;
	  &:hover{
	  	text-decoration: none;
	  	border: none;
	  	margin: 0 0 11px 0;
	  }
	}

	&__extra{
	  margin: 0 -20px -16px;
	  padding: 0 20px 16px;
	  position: relative;
	}

	&__button{
	  text-align: center;
	}
}

