<header id="page-header" class="clearfix">
					<div class="container-fluid">    
						<div class="row-fluid">
							
							<!-- HEADER: LOGO AREA -->
							<div class="logo-header">
								<a class="logo" href="index.html" title="Home">
									<img src="img/logo-site.png" class="logo" alt="logo" />                    
								</a>
							</div>
                  	
							<div class="login-header">
								<div class="profileblock">
            
									<form class="navbar-form pull-right" method="post" action="">
										<div id="block-login">
											<label id="user"><i class="fa fa-user"></i></label>	
											<input class="span2" type="text" name="username" onFocus="if(this.value =='Username' ) this.value=''" value="Логин" style="margin-bottom:10px;">
											<label id="pass"><i class="fa fa-key"></i></label>
											<input class="span2" type="text" name="password1" id="password1" value="Пароль">
											<input type="submit" id="submit" name="submit" value=""/>
										</div>
									</form>
        
									<script type="text/javascript">
										if (window.addEventListener)
										addEvent = function(ob, type, fn ) {
											ob.addEventListener(type, fn, false );
										};
										else if (document.attachEvent)
										addEvent = function(ob, type, fn ) {
											var eProp = type + fn;
											ob['e'+eProp] = fn;
											ob[eProp] = function(){ob['e'+eProp]( window.event );};
											ob.attachEvent( 'on'+type, ob[eProp]);
										};
 
										(function() {
											var p = document.getElementById('password');
											/*@cc_on
											@if (@_jscript)
											@if (@_jscript_version < 9)
											var inp = document.createElement("<input name='password'>");
											inp.id = 'password1';
											inp.type = 'text';
											inp.value = 'Password';
											p.parentNode.replaceChild(inp,p);
											p = document.getElementById('password1');
											@else
											p.type = 'text';
											p.value = 'Password';
											@end
											@else */
											p.type = 'text';
											p.value = 'Password';
											/* @end @*/
											passFocus = function() {
												if ('text' === this.type) {
													/*@cc_on
													@if (@_jscript)
													@if (@_jscript_version < 9)
													var inp = document.createElement("<input name='password'>");
													inp.id = 'password';
													inp.type = 'password';
													inp.value = '';
													this.parentNode.replaceChild(inp,this);
													setTimeout(inp.focus,5);
													@else
													p.type = 'password';
													p.value = '';
													@end
													@else */
													this.value = '';
													this.type = 'password';
													/* @end @*/
												}
											}
											addEvent(p, 'focus', passFocus);
										}());
									</script>
								</div>
							</div>
						</div>
					</div>
				</header>

				<header role="banner" class="navbar">
					<nav role="navigation" class="navbar-inner">
						<div class="container-fluid">
							<a class="brand" href="index.html">Главная</a>
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</a>
							<div class="nav-collapse collapse">
								<ul class="nav">
									<li><a href="about.html" class="dropdown-toggle" title="О нас">О нас</a></li>
									<li class="dropdown"><a href="#" class="dropdown-toggle" title="Родителям">Родителям<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a title="Плюсы для родителей" href="pluses-r.html">Плюсы для родителей</a></li>
											<li><a title="Наши цены" href="price.html">Наши цены</a></li>
											<li><a title="Способы оплаты" href="pay.html">Способы оплаты</a></li>
											<li><a title="Личный кабинет" href="lk.html">Личный кабинет</a></li>
										</ul>
                
									<li class="dropdown"><a href="#" class="dropdown-toggle" title="Школам">Школам<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a title="Плюсы для школ" href="pluses-s.html">Плюсы для школ</a></li>
											<li><a title="Заявка на подключение" href="order-s.html">Заявка на подключение</a></li>
										</ul>
                
									<li><a title="Главные вопросы" href="faq.html">Главные вопросы</a></li>
									<li><a title="Контакты" href="contacts.html">Контакты</a></li>
								</ul>               
								<div class="nav-divider-right"></div>
								<ul class="nav pull-right">
									<li></li>
								</ul>
                
								<form id="search" action="" method="GET">
									<div class="nav-divider-left"></div>							
									<input id="coursesearchbox" type="text" onFocus="if(this.value =='Поиск по сайту' ) this.value=''" onBlur="if(this.value=='') this.value='Поиск по сайту'" value="Поиск по сайту" name="search">
									<input type="submit" value="">							
								</form>
							</div>
						</div>
					</nav>
				</header>